<div class="grow"></div>
<nav class="pagination-single">
  {{ if .PrevPage }}
    <a href="{{ .PrevPage.Permalink }}" class="pagination-single__left">
      <div class="pagination-single__icon">
        {{ partial "svgs/arrow/arrow-back.svg" (dict "width" 25 "height" 25) }}
      </div>
      <div class="pagination-single__left-title">{{ .PrevPage.Title }}</div>      
    </a>
  {{ end }}
  <div class="grow"></div>
  {{ if .NextPage }}
    <a href="{{ .NextPage.Permalink }}" class="pagination-single__right">      
      <div class="pagination-single__right-title">{{ .NextPage.Title }}</div>
      <div class="pagination-single__icon">
        {{ partial "svgs/arrow/arrow-forward.svg" (dict "width" 25 "height" 25) }}
      </div>
    </a>
  {{ end }}
</nav>