<article class="summary-card">
  <header>
    <h5 class="title h5"><a href='{{ .Permalink }}'> {{ .Title }}</a> </h5>
    <h6 class="subtitle caption">🕓 {{ .Date.Format (i18n "summary-dateformat") }} &middot ☕{{ .ReadingTime }} min read</h6>
  </header>
  {{ $params := .Params }}
  <div class="summary-card__content">
    <div class="summary-card__text p2">
      {{ with $params.Description }}
      {{ . }}
      {{ else }}
      {{ .Summary }}
      {{ end }}
    </div>
    {{ if $params.featured_image }}
    <div class="summary-card__image-wrapper">
      <a href="{{ .Permalink }}">
        <img data-src="{{ (print "images/" $params.featured_image) | relURL }}" alt="{{ print $params.featured_image }}" src="data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='24pt' height='24pt' viewBox='0 0 24 24' version='1.1'%3E%3Cg id='surface1035795'%3E%3Cpath style=' stroke:none;fill-rule:nonzero;fill:rgb(80%25,80%25,80%25);fill-opacity:1;' d='M 4 4 C 2.90625 4 2 4.90625 2 6 L 2 18 C 2 19.09375 2.90625 20 4 20 L 20 20 C 21.09375 20 22 19.09375 22 18 L 22 6 C 22 4.90625 21.09375 4 20 4 Z M 4 6 L 20 6 L 20 18 L 4 18 Z M 4 6 '/%3E%3C/g%3E%3C/svg%3E%0A" class="lazyload summary-card__image"/>
      </a>
    </div>
    {{ else if $params.featured_video }}
    {{ with print ("videos/poster/" | relURL) $params.featured_video_poster }}
    <div class="summary-card__video-wrapper">
      <video class="summary-card__video" controls preload='none' poster='{{ . | relURL }}' data-setup='{"fluid": true}'>
        {{ with print ("videos/" | relURL) $params.featured_video }}
          <source src="{{ . | relURL }}" type='video/mp4'>
        {{ end }}
      </video>
    </div>
    {{ end }}
    {{ end }}
  </div>
  <hr />
</article>