<article class="summary-compact" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
  <div class="summary-compact__flex-box">
    {{ $params := .Params }}
    <div class="summary-compact__meta">
      <header>
        <h5 class="title h6"><a href='{{ .Permalink }}'>{{- with .Params.pinned -}}📌&nbsp;{{- end -}}{{ .Title }}</a> </h5>
        <h6 class="subtitle caption">
          <time title="{{ i18n "tooltip-written" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">📅 {{ .Date.Format (i18n "summary-dateformat") }} </time> 
          {{ if ne (.Date.Format (i18n "summary-dateformat")) (.Lastmod.Format (i18n "summary-dateformat")) }}
            <time title="{{ i18n "tooltip-modified" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}"> &middot; 📝 {{ .Lastmod.Format (i18n "summary-dateformat") }} </time> 
          {{ end }} 
          <span title="{{ i18n "tooltip-reading-time" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}"> &middot; ☕ {{ .ReadingTime }} {{ i18n "reading-time" }}</span>
          {{ with $params.Author }}
          &middot; <span title="{{ i18n "single-writtenBy" }}" dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}">{{ if $params.AuthorEmoji }}{{ $params.AuthorEmoji }}{{ else }}✍️{{ end }}&nbsp;{{ . }}</span>
          {{ end }}
        </h6>
      </header>
      <div class="summary-compact__tag--wrapper">
        {{ range $params.tags }}
          {{ if . }}
            <a href="{{ "tags/" | relLangURL }}{{ . | urlize }}" class="summary-compact__tag">
              {{ . }}
            </a>
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
  <hr />
</article>
