{{ if $.Param "enableSidebar" }}

{{ $currentSection := .Section }}
{{ $currentID := "" }}
{{ with .File }}{{ $currentID = .UniqueID }}{{ end }}
<div class="sidebar">
    {{ partial "sidebar/site-search" . }}
    {{ range first .Site.Params.itemsPerCategory .Pages }}
    <section class="sidebar-list">
        <a href="{{ .RelPermalink }}" class="sidebar-list__title p1 {{ if eq $currentSection .Section }}active{{ end }}">{{ .Title }}</a>
        <ul class="sidebar-list__ul">
            {{ range .Pages }}
            <li><a href="{{ .RelPermalink }}" class="sidebar-list__a p2 {{ if eq $currentID .File.UniqueID }}active{{ end }}">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </section>
    {{ end }}
</div>

{{ partial "taxonomy/taxonomy-tags" . }}
{{ partial "taxonomy/taxonomy-categories" . }}
{{ partial "taxonomy/taxonomy-series" . }}

{{ end }}