{{ if $.Param "enableSidebar" }}

<ul class="sidebar">
    {{ partial "search/site-search" . }}
    {{ partial "sidebar/custom-list" . }}
    {{ partial "sidebar/list/posts-by-order" . }}
    
    {{ if and ($.Param "itemsPerCategory") ($.Param "enableListSidebarTitles") }}
        {{ range first ($.Param "itemsPerCategory") .Pages }}
        <li class="sidebar-recent">
            <a href="{{ .RelPermalink }}" class="sidebar-recent__title p1">{{ .Title }}</a>
        </li>
        {{ end }}
        <hr class="hr-fade sidebar-hr" />
    {{ end }}
</ul>
<div class="taxo-root">
{{ partial "taxonomy/taxonomy-tags" . }}
{{ partial "taxonomy/taxonomy-categories" . }}
{{ partial "taxonomy/taxonomy-series" . }}
</div>

{{ end }}