{{ $fetchinject := resources.Get "js/fetch-inject.umd.min.js" | fingerprint -}}
<script src="{{ $fetchinject.RelPermalink | relURL }}"></script>
{{ $jquery := resources.Get "js/jquery.min.js" | fingerprint -}}
<script src="{{ $jquery.RelPermalink | relURL }}"></script>

{{ $enquire := resources.Get "js/enquire.min.js" | fingerprint -}}
{{ $prism := resources.Get "js/prism.min.js" | minify | fingerprint -}}
{{ $lunr := resources.Get "js/lunr.min.js" | fingerprint -}}
{{ $lazysizes := resources.Get "js/lazysizes.min.js" | fingerprint -}}
{{ $clipboard := resources.Get "js/clipboard.min.js" | fingerprint -}}
{{ $shave := resources.Get "js/jquery.shave.min.js" | fingerprint -}}
{{ $zzo := resources.Get "js/zzo.js" | minify | fingerprint -}}
<script>
  fetchInject([
    "{{ $enquire.RelPermalink }}",
    "{{ $prism.RelPermalink }}",
    "{{ $lunr.RelPermalink }}",
    "{{ $lazysizes.RelPermalink }}",
    "{{ $clipboard.RelPermalink }}",
    "{{ $shave.RelPermalink }}",
    "{{ $zzo.RelPermalink }}",
  ]).then(() => {
  });    
</script>