.theme__hacker {
  code[class*="language-"],
  pre[class*="language-"] {
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    color: #fafafa !important;
    background: #2f2f2f;
    font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
    font-size: 14px;
    line-height: 1.5em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }

  code[class*="language-"]::-moz-selection,
  pre[class*="language-"]::-moz-selection,
  code[class*="language-"] ::-moz-selection,
  pre[class*="language-"] ::-moz-selection {
    background: #363636;
  }

  code[class*="language-"]::selection,
  pre[class*="language-"]::selection,
  code[class*="language-"] ::selection,
  pre[class*="language-"] ::selection {
    background: #363636;
  }

  :not(pre) > code[class*="language-"] {
    white-space: normal;
    border-radius: 0.2em;
    padding: 0.1em;
  }

  pre[class*="language-"] {
    overflow: auto;
    position: relative;
    margin: 0.5em 0;
    padding: 1.25em 1em;
  }

  .language-css > code,
  .language-sass > code,
  .language-scss > code {
    color: #fd9170;
  }

  [class*="language-"] .namespace {
    opacity: 0.7;
  }

  .token.atrule {
    color: #1fff2a;
  }

  .token.attr-name {
    color: #ffcb6b;
  }

  .token.attr-value {
    color: #fff59d;
  }

  .token.attribute {
    color: #fff59d;
  }

  .token.boolean {
    color: #1fff2a;
  }

  .token.builtin {
    color: #ffcb6b;
  }

  .token.cdata {
    color: #80cbc4;
  }

  .token.char {
    color: #80cbc4;
  }

  .token.class {
    color: #ffcb6b;
  }

  .token.class-name {
    color: #fafafa;
  }

  .token.comment {
    color: #616161;
  }

  .token.constant {
    color: #1fff2a;
  }

  .token.deleted {
    color: #ff6666;
  }

  .token.doctype {
    color: #616161;
  }

  .token.entity {
    color: #ff6666;
  }

  .token.function {
    color: #1fff2a;
  }

  .token.hexcode {
    color: #fafafa;
  }

  .token.id {
    color: #1fff2a;
    font-weight: bold;
  }

  .token.important {
    color: #1fff2a;
    font-weight: bold;
  }

  .token.inserted {
    color: #80cbc4;
  }

  .token.keyword {
    color: #ff80ab;
  }

  .token.number {
    color: #b388ff;
  }

  .token.operator {
    color: #89ddff;
  }

  .token.prolog {
    color: #616161;
  }

  .token.property {
    color: #80cbc4;
  }

  .token.pseudo-class {
    color: #fff59d;
  }

  .token.pseudo-element {
    color: #fff59d;
  }

  .token.punctuation {
    color: #b3e9ff;
  }

  .token.regex {
    color: #fafafa;
  }

  .token.selector {
    color: #ff6666;
  }

  .token.string {
    color: #fff59d;
  }

  .token.symbol {
    color: #1fff2a;
  }

  .token.tag {
    color: #1fff2a;
  }

  .token.unit {
    color: #fd9170;
  }

  .token.url {
    color: #ff6666;
  }

  .token.variable {
    color: #ff6666;
  }

  .token.interpolation {
    color: #fafafa;
  }
}