{{- partial "functions/parse_theme" . -}}
{{- partial "functions/parse_grid" . -}}
{{- $scr := .Scratch -}}

$grid_max_width: {{ $scr.Get "grid_max_width" }};
$grid_max_unit: {{ $scr.Get "grid_max_unit" }};
$grid_main_main_width: {{ $scr.Get "grid_main_main_width" }};
$grid_main_main_unit: {{ $scr.Get "grid_main_main_unit" }};
$grid_main_side_width: {{ $scr.Get "grid_main_side_width" }};
$grid_main_side_unit: {{ $scr.Get "grid_main_side_unit" }};
$grid_column_gap_width: {{ $scr.Get "grid_column_gap_width" }};
$grid_column_gap_unit: {{ $scr.Get "grid_column_gap_unit" }};
$grid_navbar_height: {{ $scr.Get "grid_navbar_height" }};
$grid_row_gap: {{ $scr.Get "grid_row_gap" }};

$custom_theme_primary_color: {{ $scr.Get "custom_theme_primary_color" }};
$chroma_theme: {{ $scr.Get "chroma_theme" }};

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'syntax/syntax';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/animation';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';

@import 'components/alert';
@import 'components/bio';
@import 'components/breadcrumb';
@import 'components/diagram';
@import 'components/expand';
@import 'components/features';
@import 'components/gtt';
@import 'components/hr';
@import 'components/math';
@import 'components/notice';
@import 'components/pagination';
@import 'components/photoswipe';
@import 'components/related';
@import 'components/search';
@import 'components/summary';
@import 'components/swiper';
@import 'components/switch';
@import 'components/taxo';
@import 'components/toc';
@import 'components/tooltip';
@import 'components/whoami';

@import 'pages/404';
@import 'pages/about';
@import 'pages/archive';
@import 'pages/body';
@import 'pages/gallery';
@import 'pages/list';
@import 'pages/single';
@import 'pages/terms';