$grid_max_width: {{ .Site.Data.grid.grid_max_width }};
$grid_max_unit: {{ .Site.Data.grid.grid_max_unit }};
$grid_main_main_width: {{ .Site.Data.grid.grid_main_main_width }};
$grid_main_main_unit: {{ .Site.Data.grid.grid_main_main_unit }};
$grid_main_side_width: {{ .Site.Data.grid.grid_main_side_width }};
$grid_main_side_unit: {{ .Site.Data.grid.grid_main_side_unit }};
$grid_column_gap_width: {{ .Site.Data.grid.grid_column_gap_width }};
$grid_column_gap_unit: {{ .Site.Data.grid.grid_column_gap_unit }};
$grid_navbar_height: {{ .Site.Data.grid.grid_navbar_height }};
$grid_row_gap: {{ .Site.Data.grid.grid_row_gap }};

$theme_light_chroma: {{ .Site.Data.skin.theme_light_chroma }};
$theme_dark_chroma: {{ .Site.Data.skin.theme_dark_chroma }};
$theme_hacker_chroma: {{ .Site.Data.skin.theme_hacker_chroma }};
$theme_solarized_chroma: {{ .Site.Data.skin.theme_solarized_chroma }};
$theme_kimbie_chroma: {{ .Site.Data.skin.theme_kimbie_chroma }};

$theme_light_chroma_background: {{ .Site.Data.skin.theme_light_chroma_background }};
$theme_dark_chroma_background: {{ .Site.Data.skin.theme_dark_chroma_background }};
$theme_hacker_chroma_background: {{ .Site.Data.skin.theme_hacker_chroma_background }};
$theme_solarized_chroma_background: {{ .Site.Data.skin.theme_solarized_chroma_background }};
$theme_kimbie_chroma_background: {{ .Site.Data.skin.theme_kimbie_chroma_background }};

$button_dark_primary_color: {{ .Site.Data.button.dark_primary_color }};
$button_light_primary_color: {{ .Site.Data.button.light_primary_color }};
$button_hacker_primary_color: {{ .Site.Data.button.hacker_primary_color }};
$button_solarized_primary_color: {{ .Site.Data.button.solarized_primary_color }};
$button_kimbie_primary_color: {{ .Site.Data.button.kimbie_primary_color }};

$title-font: {{ .Site.Data.font.title_font }};
$content-font: {{ .Site.Data.font.content_font }};
$cursive-font: {{ .Site.Data.font.cursive_font }};

$viewport_size: {{ .Site.Params.viewportSize | default "normal" }};

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'syntax/syntax';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/animation';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/body';
@import 'layout/footer';
@import 'layout/sidebar';

@import 'components/alert';
@import 'components/bio';
@import 'components/breadcrumb';
@import 'components/diagram';
@import 'components/expand';
@import 'components/gtt';
@import 'components/hr';
@import 'components/math';
@import 'components/notice';
@import 'components/pagination';
@import 'components/related';
@import 'components/search';
@import 'components/summary';
@import 'components/swiper';
@import 'components/switch';
@import 'components/taxo';
@import 'components/toc';
@import 'components/tooltip';
@import 'components/whoami';
@import 'components/busuanzi';
@import 'components/donation';
@import 'components/box';
@import 'components/modal';
@import 'components/codetab';
@import 'components/ie';
@import 'components/tab';
@import 'components/button';
@import 'components/featuredImage';
@import 'components/comment';

@import 'pages/404';
@import 'pages/about';
@import 'pages/archive';
@import 'pages/gallery';
@import 'pages/list';
@import 'pages/single';
@import 'pages/terms';
@import 'pages/contact';
@import 'pages/talk';
@import 'pages/showcase';
@import 'pages/wrapper';
@import 'pages/publication';
@import 'pages/resume';