{{- partial "functions/parse_theme" . -}}
{{- partial "functions/parse_fonts" . -}}
{{- partial "functions/parse_grid" . -}}
{{- $scr := .Scratch -}}

$grid_max_width: {{ $scr.Get "grid_max_width" }};
$grid_main_main_width: {{ $scr.Get "grid_main_main_width" }};
$grid_main_main_unit: {{ $scr.Get "grid_main_main_unit" }};
$grid_main_side_width: {{ $scr.Get "grid_main_side_width" }};
$grid_main_side_unit: {{ $scr.Get "grid_main_side_unit" }};
$grid_navbar_height: {{ $scr.Get "grid_navbar_height" }};
$grid_column_gap: {{ $scr.Get "grid_column_gap" }};
$grid_row_gap: {{ $scr.Get "grid_row_gap" }};

$search_placeholder_font: {{ $scr.Get "search_placeholder" }};
$summary_title_font: {{ $scr.Get "summary_title" }};
$summary_subtitle_font: {{ $scr.Get "summary_subtitle" }};
$summary_text_font: {{ $scr.Get "summary_text" }};
$taxo_titie_font: {{ $scr.Get "taxo_titie" }};
$footer_content_font: {{ $scr.Get "footer_content" }};
$header_title_font: {{ $scr.Get "header_title" }};
$navbar_item_font: {{ $scr.Get "navbar_item" }};
$sidebar_title_font: {{ $scr.Get "sidebar_title" }};
$sidebar_list_font: {{ $scr.Get "sidebar_list" }};
$page_not_found_font: {{ $scr.Get "page_not_found" }};
$gallery_contents_font: {{ $scr.Get "gallery_contents" }};
$list_title_font: {{ $scr.Get "list_title" }};
$list_desc_font: {{ $scr.Get "list_desc" }};
$single_title_font: {{ $scr.Get "single_title" }};
$single_contents_font: {{ $scr.Get "single_contents" }};

$footer_background_color: {{ $scr.Get "footer_background_color" }};
$footer_color: {{ $scr.Get "footer_color" }};
$link: {{ $scr.Get "link" }};
$link_hover: {{ $scr.Get "link_hover" }};
$title_color: {{ $scr.Get "title_color" }};
$meta_color: {{ $scr.Get "meta_color" }};
$body_color: {{ $scr.Get "body_color" }};
$hr_color: {{ $scr.Get "hr_color" }};
$body_background_color: {{ $scr.Get "body_background_color" }};
$backdrop_background_color: {{ $scr.Get "backdrop_background_color" }};
$dropdown_border_color: {{ $scr.Get "dropdown_border_color" }};
$dropdown_border_top_color: {{ $scr.Get "dropdown_border_top_color" }};
$dropdown_item_active_background_color: {{ $scr.Get "dropdown_item_active_background_color" }};
$dropdown_title_background_color: {{ $scr.Get "dropdown_title_background_color" }};
$dropdown_content_background_color: {{ $scr.Get "dropdown_content_background_color" }};
$dropdown_footer_item_color: {{ $scr.Get "dropdown_footer_item_color" }};
$dropdown_item_hover_background_color: {{ $scr.Get "dropdown_item_hover_background_color" }};
$dropdown_item_hover_color: {{ $scr.Get "dropdown_item_hover_color" }};
$dropdown_item_color: {{ $scr.Get "dropdown_item_color" }};
$navbar_border_bottom_color: {{ $scr.Get "navbar_border_bottom_color" }};
$navbar_background_color: {{ $scr.Get "navbar_background_color" }};
$navbar_title_color: {{ $scr.Get "navbar_title_color" }};
$navbar_title_hover_color: {{ $scr.Get "navbar_title_hover_color" }};
$navbar_title_active_color: {{ $scr.Get "navbar_title_active_color" }};
$navbar_menu_hover_background_color: {{ $scr.Get "navbar_menu_hover_background_color" }};
$navbar_dropdown_item_hover_color: {{ $scr.Get "navbar_dropdown_item_hover_color" }};
$navbar_dropdown_item_hover_background_color: {{ $scr.Get "navbar_dropdown_item_hover_background_color" }};
$sidebar_title_color: {{ $scr.Get "sidebar_title_color" }};
$sidebar_li_color: {{ $scr.Get "sidebar_li_color" }};
$taxo_title_color: {{ $scr.Get "taxo_title_color" }};
$taxo_tags_background_color: {{ $scr.Get "taxo_tags_background_color" }};
$taxo_tags_color: {{ $scr.Get "taxo_tags_color" }};
$taxo_series_background_color: {{ $scr.Get "taxo_series_background_color" }};
$taxo_series_color: {{ $scr.Get "taxo_series_color" }};
$taxo_background_color_hover: {{ $scr.Get "taxo_background_color_hover" }};
$taxo_categories_background_color: {{ $scr.Get "taxo_categories_background_color" }};
$taxo_categories_color: {{ $scr.Get "taxo_categories_color" }};
$breadcrumb_item_color: {{ $scr.Get "breadcrumb_item_color" }};
$breadcrumb_background_color: {{ $scr.Get "breadcrumb_background_color" }};
$breadcrumb_item_active_color: {{ $scr.Get "breadcrumb_item_active_color" }};
$list_header_title_color: {{ $scr.Get "list_header_title_color" }};
$figcaption_color: {{ $scr.Get "figcaption_color" }};
$figcaption_strong_color: {{ $scr.Get "figcaption_strong_color" }};
$single_hr_background_color: {{ $scr.Get "single_hr_background_color" }};
$single_blockquote_border_color: {{ $scr.Get "single_blockquote_border_color" }};
$single_header_title_color: {{ $scr.Get "single_header_title_color" }};
$single_contents_title_color: {{ $scr.Get "single_contents_title_color" }};
$related_header_title_color: {{ $scr.Get "related_header_title_color" }};
$related_link_color: {{ $scr.Get "related_link_color" }};
$content_pre_main_color: {{ $scr.Get "content_pre_main_color" }};
$content_pre_background_color: {{ $scr.Get "content_pre_background_color" }};
$content_code_color: {{ $scr.Get "content_code_color" }};
$content_code_background_color: {{ $scr.Get "content_code_background_color" }};
$burger_menu_color: {{ $scr.Get "burger_menu_color" }};
$social_icon_color: {{ $scr.Get "social_icon_color" }};
$social_icon_hover_color: {{ $scr.Get "social_icon_hover_color" }};
$pagination_link_color: {{ $scr.Get "pagination_link_color" }};
$pagination_background_color: {{ $scr.Get "pagination_background_color" }};
$pagination_disabled_color: {{ $scr.Get "pagination_disabled_color" }};
$pagination_number_color: {{ $scr.Get "pagination_number_color" }};
$photoswipe_hover_color: {{ $scr.Get "photoswipe_hover_color" }};
$photoswipe_color: {{ $scr.Get "photoswipe_color" }};
$photoswipe_hover_background_color: {{ $scr.Get "photoswipe_hover_background_color" }};
$photoswipe_background_color: {{ $scr.Get "photoswipe_background_color" }};
$terms_title_color: {{ $scr.Get "terms_title_color" }};
$terms_tags_color: {{ $scr.Get "terms_tags_color" }};
$terms_categories_color: {{ $scr.Get "terms_categories_color" }};
$terms_series_color: {{ $scr.Get "terms_series_color" }};
$terms_len_color: {{ $scr.Get "terms_len_color" }};
$toc_label_color: {{ $scr.Get "toc_label_color" }};
$toc_title_color: {{ $scr.Get "toc_title_color" }};
$toc_vertical_line: {{ $scr.Get "toc_vertical_line" }};
$toc_vertical_line_active: {{ $scr.Get "toc_vertical_line_active" }};
$search_placeholder_color: {{ $scr.Get "search_placeholder_color" }};
$search_color: {{ $scr.Get "search_color" }};
$search_icon_color: {{ $scr.Get "search_icon_color" }};
$search_background_color: {{ $scr.Get "search_background_color" }};
$search_content_background_color: {{ $scr.Get "search_content_background_color" }};
$search_hover_background_color: {{ $scr.Get "search_hover_background_color" }};
$mark_color: {{ $scr.Get "mark_color" }};
$mark_background_color: {{ $scr.Get "mark_background_color" }};
$archive_key_color: {{ $scr.Get "archive_key_color" }};
$archive_type_color: {{ $scr.Get "archive_type_color" }};
$archive_meta_color: {{ $scr.Get "archive_meta_color" }};
$archive_key_background_color: {{ $scr.Get "archive_key_background_color" }};
$archive_type_background_color: {{ $scr.Get "archive_type_background_color" }};
$archive_hover_line_color: {{ $scr.Get "archive_hover_line_color" }};
$gtt_color: {{ $scr.Get "gtt_color" }};
$gtt_background_color: {{ $scr.Get "gtt_background_color" }};
$gtt_hover_color: {{ $scr.Get "gtt_hover_color" }};
$gtt_hover_background_color: {{ $scr.Get "gtt_hover_background_color" }};
$whoami_border_color: {{ $scr.Get "whoami_border_color" }};
$switch_background_color: {{ $scr.Get "switch_background_color" }};
$switch_button_color: {{ $scr.Get "switch_button_color" }};
$switch_active_color: {{ $scr.Get "switch_active_color" }};

@import 'abstracts/variables';
@import 'abstracts/mixins';
@import 'abstracts/functions';
@import 'abstracts/flexbox';

@import 'base/reset';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';

@import 'layout/navigation';
@import 'layout/grid';
@import 'layout/header';
@import 'layout/footer';
@import 'layout/sidebar';

@import 'components/summary';
@import 'components/toc';
@import 'components/taxo';
@import 'components/pagination';
@import 'components/photoswipe';
@import 'components/search';
@import 'components/breadcrumb';
@import 'components/related';
@import 'components/notice';
@import 'components/expand';
@import 'components/alert';
@import 'components/tooltip';
@import 'components/gtt';
@import 'components/whoami';
@import 'components/switch';
@import 'components/subs';

@import 'pages/body';
@import 'pages/home';
@import 'pages/about';
@import 'pages/contact';
@import 'pages/gallery';
@import 'pages/single';
@import 'pages/list';
@import 'pages/terms';
@import 'pages/archive';
@import 'pages/404';

@import 'prism/prism';