<div class="reveal">
    <div class="slides">
        
        {{ range $.Params.reveal }}
        <section>
          {{ range $k, $v := . }}
            
            {{ if eq $k "main" }}
              {{ range $v }}
                  {{ range .sub }}                
                    <section data-markdown>
                      <textarea data-template>
                        {{ . }}          
                      </textarea>
                    </section>
                  {{ end }}
              {{ end }}
            
            {{ else if eq $k "fragment" }}
              
              {{ $result := "" }}
              {{ range $v }}                
                {{ range .sub }}
                  {{ $result = (print $result "<span class='fragment'>" (. | markdownify) "</span>") }}
                {{ end }}                  
              {{ end }}

              <section data-markdown>
                <textarea data-template>
                  {{ $result }}
                </textarea>
              </section>
            {{ end }}

          {{ end }}
        </section>
        {{ end }}
        
    </div>
</div>

{{ partial "script/pt-script" . }}