<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param "languagedir" | default "ltr" }}">
  
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
  {{ partial "head/meta" . }}
  {{ partial "head/meta_json_ld" . }}
  {{ partial "head/services" . }}
</head>

<div class="reveal">
    <div class="slides">

        {{ $backgroundColor := .Params.revealBackgroundColor }}
        {{ $backgroundImage := .Params.revealBackgroundImage }}
        {{ $backgroundPosition := .Params.revealBackgroundPosition }}
        {{ $backgroundRepeat := .Params.revealBackgroundRepeat }}
        {{ $backgroundOpacity := .Params.revealBackgroundOpacity }}
        {{ $backgroundVideo := .Params.revealBackgroundVideo }}
        {{ $backgroundVideoLoop := .Params.revealBackgroundVideoLoop }}
        {{ $backgroundVideoMuted := .Params.revealBackgroundVideoMuted }}
        {{ $backgroundSize := .Params.revealBackgroundSize }} 
        
        {{ range $.Params.reveal }}
        <section data-background-color="{{ if $backgroundColor  }}{{ $backgroundColor }}{{ end }}" data-background-image="{{ if $backgroundImage  }}{{ $backgroundImage }}{{ end }}" data-background-position="{{ if $backgroundPosition  }}{{ $backgroundPosition }}{{ end }}" data-background-repeat="{{ if $backgroundRepeat  }}{{ $backgroundRepeat }}{{ end }}" data-background-opacity="{{ if $backgroundOpacity  }}{{ $backgroundOpacity }}{{ end }}" data-background-video="{{ if $backgroundVideo  }}{{ $backgroundVideo }}{{ end }}" data-background-video-loop="{{ if $backgroundVideoLoop  }}{{ $backgroundVideoLoop }}{{ end }}" data-background-video-muted="{{ if $backgroundVideoMuted  }}{{ $backgroundVideoMuted }}{{ end }}" data-background-size="{{ if $backgroundSize  }}{{ $backgroundSize }}{{ end }}">
          {{ range $k, $v := . }}
            
            {{ if eq $k "main" }}
              {{ range $v }}
                  {{ range .sub }}                
                    <section data-markdown>
                      <textarea data-template>
                        {{ . }}          
                      </textarea>
                    </section>
                  {{ end }}
              {{ end }}
            
            {{ else if eq $k "fragment" }}
              
              {{ $result := "" }}
              {{ range $v }}                
                {{ range .sub }}
                  {{ $result = (print $result "<span class='fragment'>" (. | markdownify) "</span>") }}
                {{ end }}                  
              {{ end }}

              <section data-markdown>
                <textarea data-template>
                  {{ $result }}
                </textarea>
              </section>
            {{ end }}

          {{ end }}
        </section>
        {{ end }}
        
    </div>
</div>
</html>
{{ partial "script/pt-script" . }}