<div class="reveal">
    <div class="slides">
        
        {{ range $.Params.reveal }}
        <section class="pt">
          {{ range .main }}
              {{ range .sub }}                
                <section data-markdown>
                  <textarea data-template>
                  {{ . }}          
                  </textarea>
                </section>
              {{ end }}
          {{ end }}
        </section>
        {{ end }}

        <section>Single Horizontal Slide</section>
        <section>
            <section>Vertical Slide 1</section>
            <section>Vertical Slide 2</section>
        </section>
    </div>
</div>

{{ partial "script/pt-script" . }}