.alert {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.125rem;

    @include themify($themes) {
        &-info {
            background-color: rgba(215, 238, 249, 0.4);
            border-left: 5px solid #bbdefb;
            color: themed('dropdown-item-color');
        }

        &-success {
            background-color: rgba(217, 239, 214, 0.4);
            border-left: 5px solid #c8e6c9;
            color: themed('dropdown-item-color');
        }

        &-warning {
            background-color: rgba(255, 249, 196, 0.4);
            border-left: 5px solid #ffeb3b;
            color: themed('dropdown-item-color');
        }

        &-danger {
            background-color: rgba(245, 221, 221, 0.4);
            border-left: 5px solid #ffcdd2;
            color: themed('dropdown-item-color');
        }
    }
}
