.box {
  font-size: 0.925rem;
  font-family: $title-font;
  word-break: keep-all;
  padding: 0.5rem;
  margin: 2rem 0;
  border-radius: 0.5rem;

  @include themify($themes) {
    border: 1px solid themed('content-box-border-color');
    background-color: themed('content-box-background-color');
  }
}