.busuanzi {
  @include flexbox();
  width: 250px;

  &__item {
    padding: 0.125rem;

    @include flexbox();
    @include flex-direction(column);
    @include align-items(center);
    @include flex-grow(1);

    &--label {
      font-size: 12.8px;
      padding: .125rem 0;
      font-family: $title-font;
      font-style: italic;
    }

    &--number {
      font-size: 16.8px;
      font-weight: bold;
    }
  }
}

#busuanzi_value_page_pv {
  margin: 0rem 0.1rem 0 0.15rem;
}