.button {
  position: relative;
  display: inline-block;
  padding: 3px 9px;
  margin: 0.5rem;
  cursor: pointer;
  text-decoration: none !important;
  border-radius: 0.25rem;
  background-color: transparent;

  &__text {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
  }

  &__small {
    height: 28px;
    font-size: 16px;
  }

  &__medium {
    height: 32px;
    font-size: 17px;
  }

  &__large {
    height: 36px;
    font-size: 18px;
  }

  @include themify($themes) {
    &[data-color="default"] {
      color: themed('link');
      border: 1px solid themed('link');

      @include on-event {
        color: themed('link-hover');
        border: 1px solid themed('link-hover');
      }
    }

    &[data-color="primary"] {
      color: themed('button-primary-color');
      border: 1px solid themed('button-primary-color');

      @include on-event {
        color: themed('link-hover');
        border: 1px solid themed('link-hover');
      }
    }
  }
}