// mermaid
.mermaid {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    overflow: auto;
}

// flowchart.js
.diagram {
    overflow: auto;
}

// js-sequence-diagram
.language-msc {
    background: #fcfcfa !important;
}

// .sequence text {
//     @include themify($themes) {
//         fill: themed('body-color');
//     }
// }

// .sequence path {
//     @include themify($themes) {
//         fill: themed('body-background-color');
//     }
// }

// chart.js
.language-chart {
    background: #fcfcfa !important;
}

// wavedrom
.language-wave {    
    background: #fcfcfa !important;
}

// div[id^=WaveDrom_Display] {
//     background-color: #FCFCFA;
//     border-radius: 0.25rem;
// }

// viz.js
.language-viz-dot {
    background: transparent !important;
}

