.expand {
  position: relative;
  margin: 1.5rem 0;
  border-radius: 0.25rem;
  @include box-shadow(1px, 1px, 3px, 0, rgba(0, 0, 0, 0.125));

  &__content {
    padding: 0 18px;
    overflow: hidden;
    max-height: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;

    @include transition(all, 0.2s, ease);
    @include themify($themes) {
      background-color: themed('toc-body-background-color');
    }
  }

  &__button {
    cursor: pointer;
    width: 100%;
    margin: auto 0;
    text-align: left;
    outline: none;
    border: none;
    padding: 0.125rem;
    font-size: 1rem;
    font-family: $title-font;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;

    @include flexbox();
    @include align-items(center);
    @include themify($themes) {
      color: inherit;
      background-color: themed('toc-header-background-color');
      @include on-event {
        background-color: themed('toc-header-background-color-hover');
      }
    }
  }

  &-label {
    cursor: pointer;
    @include flexbox();
    @include align-items(center);
  }

  &-icon {
    padding-top: 0.125rem;
    padding-right: 0.5rem;
    
    &__down {
      @include rotate(90);
      @include transition(all, 0.15s, ease);
    }

    &__right {
      @include rotate(0);
      @include transition(all, 0.15s, ease);
    }
  }
}