.featured-image {
  width: 100%;
  object-fit: cover;

  &--wrapper {
    width: 100%;
    height: 100%;

    @include flexbox();
    @include align-items(center);
    @include justify-content(center);
  }
}