.features {
  max-width: $grid-max-width;
  height: 200px;
  font-family: 'Montserrat', sans-serif;
  padding: 0.5rem;
  margin: 0 4rem;  

  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include respond-to(sm) {
    margin: 0 1rem;
  }

  &__title {
    font-size: 32px;
    font-weight: 700;
  }

  ul {
    @include flexbox();
    @include flex-wrap(wrap);
    padding: 1.5rem 0.5rem;
  }

  li {
    padding: 0.125rem 0.5rem;
    width: 30%;
    font-size: 16px;
    @include truncate(350px);

    &::before {
      content: '✔️';
      z-index: 1; 
    }
  }
}

.features-text {
  max-width: $grid-max-width;
  height: 200px;
  padding: 0.5rem;
  margin: 0 4rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;

  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  
  &__item {
    margin-bottom: 1.5rem;
  }
}

.features-intro {
  max-width: $grid-max-width;  
  height: 200px;
  padding: 0.5rem;
  margin: 0 4rem;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

  @include flexbox();
  @include flex-direction(column);
  @include align-items(center);
  @include justify-content(center);
  @include respond-to(sm) {
      margin:  1rem;
  }

  &__title {    
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.5rem;
  }

  &__links {
    a {
      padding: 0.4rem;
      font-size: 16px;
    }
  }

  &__release-info {
    margin-top: 0.25rem;
    font-size: 11px;
  }
}