a.pswp__share--facebook:hover {
    background: #727072;
    color: #FCFCFA;
}

a.pswp__share--facebook:hover:before {
    border-bottom-color: #727072;
}

a.pswp__share--twitter:hover {
    background: #727072;
    color: #FCFCFA;
}

a.pswp__share--pinterest:hover {
    background: #727072;
    color: #FCFCFA;
}

a.pswp__share--download:hover {
    background: #727072;
    color: #FCFCFA;
}

.pswp__share-tooltip {
    background: #403E41;
}

.pswp__share-tooltip a {
    color: #FCFCFA;
}

.pswp__share-tooltip a:hover {
    text-decoration: none;
    color: #FCFCFA;
}

a.pswp__share--facebook:before {
    border-bottom-color: #403E41;
}

.pswp__bg {
    background: rgba(0, 0, 0, 0.8);
}