.whoami {
  padding: 1rem;
  margin: 4rem 0;
  border-radius: 0.25rem;
  @include flexbox();
  @include themify($themes) {
    border-top: 2px dashed themed('whoami-border-color');
    border-bottom: 2px dashed themed('whoami-border-color');
  }

  &__image {    
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    object-fit: contain;

    &-wrapper {      
      margin-right: 1rem;      
      max-width: 150px;      
    }
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;    
  }
  
  &__desc {
    font-size: 1rem;
  }
}