.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.capitalize {
  text-transform: capitalize;
}

.hide {
  display: none;
}

.grow {
  @include flex-grow(1);
}

.basicflex {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
}

.basicflex-column {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);
}