<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ $.Param "languagedir" | default "ltr" }}">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ block "title" . }}{{ .Title }} – {{ .Site.Title }}{{ end }}</title>
    {{ partialCached "head/scripts" . }}
    {{ partialCached "head/styles" . }}
    {{ partial "head/meta" . }}
    {{ partial "head/meta_json_ld" . }}
</head>

<body id="root">
    <div id="body">        
        <div class="container wrapper">
            {{ partial "navbar/site-nav" . }}
            {{ partial "header/site-header" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "footer/site-footer" . }}
        </div>    
    </div>
</body>

</html>

{{ $defaultTheme := "" }}
{{ if .Site.Params.themeOptions }}
{{ $defaultTheme := (index .Site.Params.themeOptions 0) }}
{{ end }}

<script>    
    var defaultTheme = JSON.parse({{ $defaultTheme | jsonify }}) || "dark";
    var localTheme = localStorage.getItem('theme');

    if (localTheme) {
        $('#root').attr('class', `theme__${localTheme}`);
    } else {
        $('#root').attr('class', `theme__${defaultTheme}`);
    }
    
</script>