{{ define "main" }}

{{ $enquire := resources.Get "js/enquire.min.js" | resources.Fingerprint }}
<script src="{{ $enquire.RelPermalink }}"></script>

<main class="single__main {{ if or ($.Param "enableToc") ($.Param "toc") }}{{ if $.Param "hideToc" }}main{{ else }}main-main{{ end }}{{ else }}main{{ end }}">
  {{ if eq .Site.Params.enableBreadcrumb true }}
  {{ partial "body/breadcrumb" . }}
  {{ end }}
  <div class="single">
    <h2 class="single__title">{{ .Title }}</h2>
    <div class="single__meta">
      {{ partial "body/infos" . }}
      {{ partial "body/tags" . }}
    </div>    
    <article class="single__contents">
      {{ partial "body/toc" . }}
      {{ .Content }}
    </article>
    {{ partial "body/donation" . }}
    {{ partial "body/whoami" . }}
    {{ partial "body/related" . }}
    {{ partial "pagination/pagination-single" . }}
    {{ partial "comments/comments.html" . }}
    {{ partial "body/photoswipe" . }}

    <div class="hide">
      {{ partial "search/site-search" . }}
    </div>
  </div>
</main>

{{ if or ($.Param "enableToc") ($.Param "toc") }}
<aside class="single__side {{ if or ($.Param "enableToc") ($.Param "toc") }}main-side{{ end }}">
  {{ partial "sidebar/sidebar-single" . }}
</aside>
{{ end }}
<script>
  {{ $enableToc:= $.Param "enableToc" }}
  {{ $toc:= $.Param "toc" }}
  var enableToc = JSON.parse({{ $enableToc | jsonify }});
  var toc = JSON.parse({{ $toc | jsonify }});
  
  var singleMainElem = document.querySelector('.single__main');
  var singleSideElem = document.querySelector('.single__side');

  enquire.register("screen and (max-width: 769px)", {
    match: function () {
      if (enableToc || toc) {
        singleMainElem.classList.remove('main-main');
        singleMainElem.classList.add('main');
        singleSideElem.classList.remove('main-side');
        singleSideElem.classList.add('hide');
      }
    },
    unmatch: function () {
      if (enableToc || toc) {
        singleMainElem.classList.remove('main');
        singleMainElem.classList.add('main-main');
        singleSideElem.classList.remove('hide');
        singleSideElem.classList.add('main-side');
      }

      document.getElementsByClassName('navbar__burger')[0].classList.remove('is-active');
      document.getElementsByClassName('navbar__menu')[0].classList.remove('is-active');
      document.getElementsByClassName('mobile-search')[0].classList.add('hide');
    },
    setup: function () { },
    deferSetup: true,
    destroy: function () { },
  });
</script>
{{ partial "script/single-script" . }}
{{ end }}