{{ define "main" }}
<main class="main showcase inner">
  {{ if .Params.enableBio }}
    <aside class="{{ if eq .Site.Params.sidebarPosition "left" }}l{{ else }}r{{ end }}">
      <div class="showcase__bio">
        {{ partial "search/site-search" . }}
        {{ partial "sidebar/site-bio" . }}
      </div>
    </aside>
  {{ end }}
  <section class="showcase__section {{ if .Params.enableBio }}{{ if eq .Site.Params.sidebarPosition "left" }}mr{{ else }}lm{{ end }}{{ else }}lmr{{ end }}">
    {{ if .Params.enableBio }}
      <div class="showcase__bio--mobile hide">
        {{ partial "body/whoami" . }}
      </div>
    {{ end }}
    {{ partial "showcase/show-nav" . }}
    {{ if eq .Permalink .FirstSection.Permalink }}
      {{ partial "showcase/show-pinned" . }}
    {{ else }}
      {{ partial "showcase/show-section" . }}
    {{ end }}
  </section>
  
  {{ partial "script/showcase-script" . }}
  {{ if not .Params.enableBio }}
    <div class="hide">
      {{ partial "search/site-search" . }}
    </div>
  {{ end }}
</main>
{{ end }}