{{ if $.Param "enableSidebarCategories" }}
<div class="taxo">
    <aside>
        <span class="title p2">
            <a href="{{ "/categories/" | relLangURL }}" class="taxo__title">
                {{ i18n "taxo-categories" }}
            </a>
        </span>
        {{ range $index, $element := .Site.Taxonomies.categories }}
        {{ if $index }}
            <span class="tag">
                <a href="{{ $element.Page.RelPermalink }}" class="is-categories taxo__link">
                    {{ $element.Page.Title }} · {{ printf "%#v" (len $element) }}
                </a>
            </span>
        {{ end }}
        {{ end }}
    </aside>
</div>
{{ end }}