@import "../themes/theme";

$text-font-stack: 'Muli',
              avenir,
              'helvetica neue', helvetica,
              ubuntu,
              roboto, noto,
              'segoe ui', arial,
              sans-serif !default;
$code-font-stack: Consolas, 
              Monaco,
              Menlo,
              "DejaVu Sans Mono", 
              "Bitstream Vera Sans Mono", 
              "Courier New", 
              "Lucida Console", 
              "Lucida Sans Typewriter", 
              "Liberation Mono", 
              "Nimbus Mono L", 
              Monaco, 
              Courier, 
              monospace !default;

$z-indexes: ("modal", "navbar", "dropdown", "header", "gtt", "clipboard", "grid", "search-btn", "search", "content", "footer", "taxo", "toc", "gallery-mask", "card-outter", "card-inner");

$breakpoints: (
  'xs': 0,
  'sm': 769px,
  'md': 960px,
  'lg': 1280px,
  'xl': 1960px,
);

$sidebar-width: 250px;