@import "../themes/theme";

$text-font-stack: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$code-font-stack: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter",
  "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier,
  monospace !default;

$z-indexes: ("modal", "navbar", "dropdown", "header", "grid", "search-btn", "search", "content", "footer", "taxo", "toc", "gallery-mask");
$ls: (
  base: -10,
  heading: 10,
  button: 5,
  slogan: -100
);
$breakpoints: (
  'xs': 0,
  'sm': 769px,
  'md': 960px,
  'lg': 1280px,
  'xl': 1960px,
);

$search-height: 35px !default;
$code-font-size: 0.9em !default;