{{- $scr := .Scratch -}}
{{ $font := .Site.Data.font }}

{{- $scr.Set "search_placeholder" $font.search_placeholder -}}
{{- $scr.Set "summary_title" $font.summary_title -}}
{{- $scr.Set "summary_subtitle" $font.summary_subtitle -}}
{{- $scr.Set "summary_text" $font.summary_text -}}
{{- $scr.Set "taxo_titie" $font.taxo_titie -}}
{{- $scr.Set "footer_content" $font.footer_content -}}
{{- $scr.Set "header_title" $font.header_title -}}
{{- $scr.Set "navbar_item" $font.navbar_item -}}
{{- $scr.Set "sidebar_title" $font.sidebar_title -}}
{{- $scr.Set "sidebar_list" $font.sidebar_list -}}
{{- $scr.Set "page_not_found" $font.page_not_found -}}
{{- $scr.Set "gallery_contents" $font.gallery_contents -}}
{{- $scr.Set "list_title" $font.list_title -}}
{{- $scr.Set "list_desc" $font.list_desc -}}
{{- $scr.Set "single_title" $font.single_title -}}
{{- $scr.Set "single_contents" $font.single_contents -}}