{{- $scr := .Scratch -}}
{{ $skin := .Site.Data.skin }}

{{- $scr.Set "footer_background_color" $skin.footer_background_color -}}
{{- $scr.Set "footer_color" $skin.footer_color -}}
{{- $scr.Set "link" $skin.link -}}
{{- $scr.Set "link_hover" $skin.link_hover -}}
{{- $scr.Set "title_color" $skin.title_color -}}
{{- $scr.Set "meta_color" $skin.meta_color -}}
{{- $scr.Set "body_color" $skin.body_color -}}
{{- $scr.Set "hr_color" $skin.hr_color -}}
{{- $scr.Set "body_background_color" $skin.body_background_color -}}
{{- $scr.Set "backdrop_background_color" $skin.backdrop_background_color -}}
{{- $scr.Set "dropdown_border_color" $skin.dropdown_border_color -}}
{{- $scr.Set "dropdown_border_top_color" $skin.dropdown_border_top_color -}}
{{- $scr.Set "dropdown_item_active_background_color" $skin.dropdown_item_active_background_color -}}
{{- $scr.Set "dropdown_title_background_color" $skin.dropdown_title_background_color -}}
{{- $scr.Set "dropdown_content_background_color" $skin.dropdown_content_background_color -}}
{{- $scr.Set "dropdown_footer_item_color" $skin.dropdown_footer_item_color -}}
{{- $scr.Set "dropdown_item_hover_background_color" $skin.dropdown_item_hover_background_color -}}
{{- $scr.Set "dropdown_item_hover_color" $skin.dropdown_item_hover_color -}}
{{- $scr.Set "dropdown_item_color" $skin.dropdown_item_color -}}
{{- $scr.Set "navbar_border_bottom_color" $skin.navbar_border_bottom_color -}}
{{- $scr.Set "navbar_background_color" $skin.navbar_background_color -}}
{{- $scr.Set "navbar_title_color" $skin.navbar_title_color -}}
{{- $scr.Set "navbar_title_hover_color" $skin.navbar_title_hover_color -}}
{{- $scr.Set "navbar_title_active_color" $skin.navbar_title_active_color -}}
{{- $scr.Set "navbar_menu_hover_background_color" $skin.navbar_menu_hover_background_color -}}
{{- $scr.Set "navbar_dropdown_item_hover_color" $skin.navbar_dropdown_item_hover_color -}}
{{- $scr.Set "navbar_dropdown_item_hover_background_color" $skin.navbar_dropdown_item_hover_background_color -}}
{{- $scr.Set "sidebar_title_color" $skin.sidebar_title_color -}}
{{- $scr.Set "sidebar_li_color" $skin.sidebar_li_color -}}
{{- $scr.Set "taxo_title_color" $skin.taxo_title_color -}}
{{- $scr.Set "taxo_tags_background_color" $skin.taxo_tags_background_color -}}
{{- $scr.Set "taxo_tags_color" $skin.taxo_tags_color -}}
{{- $scr.Set "taxo_series_background_color" $skin.taxo_series_background_color -}}
{{- $scr.Set "taxo_series_color" $skin.taxo_series_color -}}
{{- $scr.Set "taxo_background_color_hover" $skin.taxo_background_color_hover -}}
{{- $scr.Set "taxo_categories_background_color" $skin.taxo_categories_background_color -}}
{{- $scr.Set "taxo_categories_color" $skin.taxo_categories_color -}}
{{- $scr.Set "breadcrumb_item_color" $skin.breadcrumb_item_color -}}
{{- $scr.Set "breadcrumb_background_color" $skin.breadcrumb_background_color -}}
{{- $scr.Set "breadcrumb_item_active_color" $skin.breadcrumb_item_active_color -}}
{{- $scr.Set "list_header_title_color" $skin.list_header_title_color -}}
{{- $scr.Set "figcaption_color" $skin.figcaption_color -}}
{{- $scr.Set "figcaption_strong_color" $skin.figcaption_strong_color -}}
{{- $scr.Set "single_hr_background_color" $skin.single_hr_background_color -}}
{{- $scr.Set "single_blockquote_border_color" $skin.single_blockquote_border_color -}}
{{- $scr.Set "single_header_title_color" $skin.single_header_title_color -}}
{{- $scr.Set "single_contents_title_color" $skin.single_contents_title_color -}}
{{- $scr.Set "related_header_title_color" $skin.related_header_title_color -}}
{{- $scr.Set "related_link_color" $skin.related_link_color -}}
{{- $scr.Set "content_pre_main_color" $skin.content_pre_main_color -}}
{{- $scr.Set "content_pre_background_color" $skin.content_pre_background_color -}}
{{- $scr.Set "content_code_color" $skin.content_code_color -}}
{{- $scr.Set "content_code_background_color" $skin.content_code_background_color -}}
{{- $scr.Set "burger_menu_color" $skin.burger_menu_color -}}
{{- $scr.Set "social_icon_color" $skin.social_icon_color -}}
{{- $scr.Set "social_icon_hover_color" $skin.social_icon_hover_color -}}
{{- $scr.Set "pagination_link_color" $skin.pagination_link_color -}}
{{- $scr.Set "pagination_background_color" $skin.pagination_background_color -}}
{{- $scr.Set "pagination_disabled_color" $skin.pagination_disabled_color -}}
{{- $scr.Set "pagination_number_color" $skin.pagination_number_color -}}
{{- $scr.Set "photoswipe_hover_color" $skin.photoswipe_hover_color -}}
{{- $scr.Set "photoswipe_color" $skin.photoswipe_color -}}
{{- $scr.Set "photoswipe_hover_background_color" $skin.photoswipe_hover_background_color -}}
{{- $scr.Set "photoswipe_background_color" $skin.photoswipe_background_color -}}
{{- $scr.Set "terms_title_color" $skin.terms_title_color -}}
{{- $scr.Set "terms_tags_color" $skin.terms_tags_color -}}
{{- $scr.Set "terms_categories_color" $skin.terms_categories_color -}}
{{- $scr.Set "terms_series_color" $skin.terms_series_color -}}
{{- $scr.Set "terms_len_color" $skin.terms_len_color -}}
{{- $scr.Set "toc_label_color" $skin.toc_label_color -}}
{{- $scr.Set "toc_title_color" $skin.toc_title_color -}}
{{- $scr.Set "toc_vertical_line" $skin.toc_vertical_line -}}
{{- $scr.Set "toc_vertical_line_active" $skin.toc_vertical_line_active -}}
{{- $scr.Set "search_placeholder_color" $skin.search_placeholder_color -}}
{{- $scr.Set "search_color" $skin.search_color -}}
{{- $scr.Set "search_icon_color" $skin.search_icon_color -}}
{{- $scr.Set "search_background_color" $skin.search_background_color -}}
{{- $scr.Set "search_content_background_color" $skin.search_content_background_color -}}
{{- $scr.Set "search_hover_background_color" $skin.search_hover_background_color -}}
{{- $scr.Set "mark_color" $skin.mark_color -}}
{{- $scr.Set "mark_background_color" $skin.mark_background_color -}}
{{- $scr.Set "archive_key_color" $skin.archive_key_color -}}
{{- $scr.Set "archive_type_color" $skin.archive_type_color -}}
{{- $scr.Set "archive_meta_color" $skin.archive_meta_color -}}
{{- $scr.Set "archive_key_background_color" $skin.archive_key_background_color -}}
{{- $scr.Set "archive_type_background_color" $skin.archive_type_background_color -}}
{{- $scr.Set "archive_hover_line_color" $skin.archive_hover_line_color -}}
{{- $scr.Set "gtt_color" $skin.gtt_color -}}
{{- $scr.Set "gtt_background_color" $skin.gtt_background_color -}}
{{- $scr.Set "gtt_hover_color" $skin.gtt_hover_color -}}
{{- $scr.Set "gtt_hover_background_color" $skin.gtt_hover_background_color -}}
{{- $scr.Set "whoami_border_color" $skin.whoami_border_color -}}
{{- $scr.Set "switch_background_color" $skin.switch_background_color -}}
{{- $scr.Set "switch_button_color" $skin.switch_button_color -}}
{{- $scr.Set "switch_active_color" $skin.switch_active_color -}}
