{{- $scr := .Scratch -}}
{{- $theme_index := .Site.Params.custom_skin -}}
{{ $theme := index .Site.Data.themes $theme_index }}

{{- $scr.Set "footer_background_color" $theme.footer_background_color -}}
{{- $scr.Set "footer_color" $theme.footer_color -}}
{{- $scr.Set "link" $theme.link -}}
{{- $scr.Set "link_hover" $theme.link_hover -}}
{{- $scr.Set "title_color" $theme.title_color -}}
{{- $scr.Set "meta_color" $theme.meta_color -}}
{{- $scr.Set "body_color" $theme.body_color -}}
{{- $scr.Set "hr_color" $theme.hr_color -}}
{{- $scr.Set "body_background_color" $theme.body_background_color -}}
{{- $scr.Set "backdrop_background_color" $theme.backdrop_background_color -}}
{{- $scr.Set "dropdown_border_color" $theme.dropdown_border_color -}}
{{- $scr.Set "dropdown_border_top_color" $theme.dropdown_border_top_color -}}
{{- $scr.Set "dropdown_item_active_background_color" $theme.dropdown_item_active_background_color -}}
{{- $scr.Set "dropdown_title_background_color" $theme.dropdown_title_background_color -}}
{{- $scr.Set "dropdown_content_background_color" $theme.dropdown_content_background_color -}}
{{- $scr.Set "dropdown_footer_item_color" $theme.dropdown_footer_item_color -}}
{{- $scr.Set "dropdown_item_hover_background_color" $theme.dropdown_item_hover_background_color -}}
{{- $scr.Set "dropdown_item_hover_color" $theme.dropdown_item_hover_color -}}
{{- $scr.Set "dropdown_item_color" $theme.dropdown_item_color -}}
{{- $scr.Set "navbar_border_bottom_color" $theme.navbar_border_bottom_color -}}
{{- $scr.Set "navbar_background_color" $theme.navbar_background_color -}}
{{- $scr.Set "navbar_title_color" $theme.navbar_title_color -}}
{{- $scr.Set "navbar_title_hover_color" $theme.navbar_title_hover_color -}}
{{- $scr.Set "navbar_menu_hover_background_color" $theme.navbar_menu_hover_background_color -}}
{{- $scr.Set "navbar_dropdown_item_hover_color" $theme.navbar_dropdown_item_hover_color -}}
{{- $scr.Set "navbar_dropdown_item_hover_background_color" $theme.navbar_dropdown_item_hover_background_color -}}
{{- $scr.Set "input_color" $theme.input_color -}}
{{- $scr.Set "input_background_color" $theme.input_background_color -}}
{{- $scr.Set "input_border_color" $theme.input_border_color -}}
{{- $scr.Set "input_hover_border_color" $theme.input_hover_border_color -}}
{{- $scr.Set "input_focus_border_color" $theme.input_focus_border_color -}}
{{- $scr.Set "sidebar_title_color" $theme.sidebar_title_color -}}
{{- $scr.Set "sidebar_li_color" $theme.sidebar_li_color -}}
{{- $scr.Set "taxo_title_color" $theme.taxo_title_color -}}
{{- $scr.Set "taxo_tags_background_color" $theme.taxo_tags_background_color -}}
{{- $scr.Set "taxo_tags_color" $theme.taxo_tags_color -}}
{{- $scr.Set "taxo_series_background_color" $theme.taxo_series_background_color -}}
{{- $scr.Set "taxo_series_color" $theme.taxo_series_color -}}
{{- $scr.Set "taxo_categories_background_color" $theme.taxo_categories_background_color -}}
{{- $scr.Set "taxo_categories_color" $theme.taxo_categories_color -}}
{{- $scr.Set "breadcrumb_item_color" $theme.breadcrumb_item_color -}}
{{- $scr.Set "breadcrumb_background_color" $theme.breadcrumb_background_color -}}
{{- $scr.Set "breadcrumb_item_active_color" $theme.breadcrumb_item_active_color -}}
{{- $scr.Set "list_header_title_color" $theme.list_header_title_color -}}
{{- $scr.Set "figcaption_color" $theme.figcaption_color -}}
{{- $scr.Set "figcaption_strong_color" $theme.figcaption_strong_color -}}
{{- $scr.Set "single_hr_background_color" $theme.single_hr_background_color -}}
{{- $scr.Set "single_blockquote_border_color" $theme.single_blockquote_border_color -}}
{{- $scr.Set "single_header_title_color" $theme.single_header_title_color -}}
{{- $scr.Set "single_contents_title_color" $theme.single_contents_title_color -}}
{{- $scr.Set "related_header_title_color" $theme.related_header_title_color -}}
{{- $scr.Set "related_link_color" $theme.related_link_color -}}
{{- $scr.Set "content_pre_main_color" $theme.content_pre_main_color -}}
{{- $scr.Set "content_pre_background_color" $theme.content_pre_background_color -}}
{{- $scr.Set "content_code_color" $theme.content_code_color -}}
{{- $scr.Set "content_code_background_color" $theme.content_code_background_color -}}
{{- $scr.Set "burger_menu_color" $theme.burger_menu_color -}}
{{- $scr.Set "social_icon_color" $theme.social_icon_color -}}
{{- $scr.Set "social_icon_hover_color" $theme.social_icon_hover_color -}}
{{- $scr.Set "pagination_link_color" $theme.pagination_link_color -}}
{{- $scr.Set "pagination_background_color" $theme.pagination_background_color -}}
{{- $scr.Set "pagination_disabled_color" $theme.pagination_disabled_color -}}
{{- $scr.Set "pagination_number_color" $theme.pagination_number_color -}}
{{- $scr.Set "photoswipe_hover_color" $theme.photoswipe_hover_color -}}
{{- $scr.Set "photoswipe_color" $theme.photoswipe_color -}}
{{- $scr.Set "photoswipe_hover_background_color" $theme.photoswipe_hover_background_color -}}
{{- $scr.Set "photoswipe_background_color" $theme.photoswipe_background_color -}}
{{- $scr.Set "terms_title_color" $theme.terms_title_color -}}
{{- $scr.Set "terms_tags_color" $theme.terms_tags_color -}}
{{- $scr.Set "terms_categories_color" $theme.terms_categories_color -}}
{{- $scr.Set "terms_series_color" $theme.terms_series_color -}}
{{- $scr.Set "terms_len_color" $theme.terms_len_color -}}
{{- $scr.Set "toc_label_color" $theme.toc_label_color -}}
{{- $scr.Set "toc_title_color" $theme.toc_title_color -}}
{{- $scr.Set "toc_vertical_line" $theme.toc_vertical_line -}}
{{- $scr.Set "toc_vertical_line_active" $theme.toc_vertical_line_active -}}
{{- $scr.Set "search_placeholder_color" $theme.search_placeholder_color -}}
{{- $scr.Set "search_color" $theme.search_color -}}
{{- $scr.Set "search_icon_color" $theme.search_icon_color -}}
{{- $scr.Set "search_background_color" $theme.search_background_color -}}
{{- $scr.Set "search_content_background_color" $theme.search_content_background_color -}}
{{- $scr.Set "search_hover_background_color" $theme.search_hover_background_color -}}
{{- $scr.Set "mark_color" $theme.mark_color -}}
{{- $scr.Set "mark_background_color" $theme.mark_background_color -}}
{{- $scr.Set "archive_key_color" $theme.archive_key_color -}}
{{- $scr.Set "archive_type_color" $theme.archive_type_color -}}
{{- $scr.Set "archive_meta_color" $theme.archive_meta_color -}}
{{- $scr.Set "archive_key_background_color" $theme.archive_key_background_color -}}
{{- $scr.Set "archive_type_background_color" $theme.archive_type_background_color -}}
{{- $scr.Set "archive_hover_line_color" $theme.archive_hover_line_color -}}
