.header {
  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);

  .title {
    font-family: $header_title_font;
    font-weight: 900;
  }

  &__image {
    background-image: url("../images/header/background.jpg"),
    url("../images/header/background.png");
    width: 100%;
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom: 2rem;
  }
}