{{ define "title" }}{{ .Site.Title }}{{ end }}

{{ define "main" }}
<main class="{{ if $.Param "enableSidebar" }}main-main{{ else }}main{{ end }}">
    <article class="{{ with .Section }}section-{{ . | urlize }} {{ end }}single-view">
        <div class="content">
            {{ .Content }}
        </div>
    </article>

    <div class="summary__container">
        {{ range (.Paginator).Pages }}
        {{ .Render "summary" }}
        {{ end }}
    </div>

    {{ partial "pagination/pagination-list" . }}
</main>

{{ if $.Param "enableSidebar" }}
    <aside class="main-side">
        {{ partial "sidebar/sidebar-home" . }}
    </aside>
{{ end }}
{{ end }}
