{{ if $.Param "enableThemeChange" }}
<div class="theme" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
  <div class="dropdown">
    <button class="dropdown-trigger navbar__slide-down" aria-label="Select Theme Button" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
      {{ partial "svgs/etc/invert-colors.svg" (dict "width" 22 "height" 22) }}      
    </button>
    <div class="dropdown-content select-theme">
      {{ if .Site.Params.themeOptions }}
        {{ range $index, $value := .Site.Params.themeOptions }}
        <a href="#" class="dropdown-item select-theme__item {{ if (eq $index 0) }}is-active{{ end }}">
          {{ i18n (print "skin-" .) | default . }}
        </a>
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}