<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar__brand">
    {{ if $.Param "logo" | default true }}
    <a href="{{ "/" | relLangURL }}" title="Home" rel="home" class="navbar__logo-link">
      <img src="{{ "/logo.png" | relURL }}" alt="Home" class="navbar__logo">
    </a>
    {{ end }}
    <a href="{{ "/" | relLangURL }}" title="Home" rel="home" class="navbar__title-link">
      <h6 class="navbar__title h6">{{ .Site.Params.logoText }}</h6>
    </a>    
  </div>
  <a role="button" class="navbar__burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
  <div class="navbar__menu">
    {{ range .Site.Menus.main -}}
    {{ if .HasChildren }}
    <div class="navbar__dropdown">
      <a href="{{ .URL | relLangURL }}" class="navbar__menu-item">
        {{ safeHTML .Name }}
        <span class="navbar__menu-icon">
          {{ partial "svgs/arrow/keyboard-arrow-down.svg" (dict "width" 18 "height" 18) }}
        </span>
      </a>        
      <div class="navbar__dropdown--content">
        {{ range .Children }}
        <a href="{{ .URL | relLangURL }}" class="navbar__dropdown--item">{{ safeHTML .Name }}</a>        
        {{ end }}
      </div>
    </div>
    {{ else }}
    <a href="{{ .URL | relLangURL }}" class="navbar__menu-item">{{ safeHTML .Name }}</a>
    {{ end }}
    {{ end }}
  </div>
</nav>
