{{ $reveal := .Site.Data.lib.reveal }}

{{ $reveal_style := resources.Get "lib/reveal/reveal.css" | resources.Minify| resources.Fingerprint }}
<link rel="stylesheet" href="{{ $reveal_style.RelPermalink }}">

{{ $reveal_script := resources.Get "lib/reveal/reveal.js" | resources.Minify | resources.Fingerprint }}
<script defer src="{{ $reveal_script.RelPermalink }}"></script>

{{ if in .Params.Plugins "markdown" }}
  <script defer src="{{ $reveal.plugin.marked.url }}" integrity="{{ $reveal.plugin.marked.sri }}" crossorigin="anonymous"></script>
  <script defer src="{{ $reveal.plugin.markdown.url }}" integrity="{{ $reveal.plugin.markdown.sri }}" crossorigin="anonymous"></script>  
{{ end }}

<script>
  window.onload = function() {
    Reveal.initialize();
  }  
</script>