@import 'abap';
@import 'algol';
@import 'algolnu';
@import 'api';
@import 'arduino';
@import 'autumn';
@import 'borland';
@import 'bw';
@import 'colorful';
@import 'dracula';
@import 'duotonelight';
@import 'emacs';
@import 'friendly';
@import 'fruity';
@import 'github';
@import 'igor';
@import 'lovelace';
@import 'manni';
@import 'monokai';
@import 'monokailight';
@import 'murphy';
@import 'native';
@import 'paraisodark';
@import 'paraisolight';
@import 'pastie';
@import 'perldoc';
@import 'pygments';
@import 'rainbowdash';
@import 'rrt';
@import 'solarized';
@import 'solarizeddark';
@import 'solarizeddark256';
@import 'solarizedlight';
@import 'swapoff';
@import 'tango';
@import 'trac';
@import 'vim';
@import 'vs';
@import 'xcode';

.theme__light {
  @if $theme_light_chroma == default {
    @include chroma-duotonelight;
  } @else if $theme_light_chroma == abap {
    @include chroma-abap;
  } @else if $theme_light_chroma == algol {
    @include chroma-algol;
  } @else if $theme_light_chroma == algolnu {
    @include chroma-algolnu;
  } @else if $theme_light_chroma == api {
    @include chroma-api;
  } @else if $theme_light_chroma == arduino {
    @include chroma-arduino;
  } @else if $theme_light_chroma == autumn {
    @include chroma-autumn;
  } @else if $theme_light_chroma == borland {
    @include chroma-borland;
  } @else if $theme_light_chroma == bw {
    @include chroma-bw;
  } @else if $theme_light_chroma == colorful {
    @include chroma-colorful;
  } @else if $theme_light_chroma == dracula {
    @include chroma-dracula;
  } @else if $theme_light_chroma == emacs {
    @include chroma-emacs;
  } @else if $theme_light_chroma == friendly {
    @include chroma-friendly;
  } @else if $theme_light_chroma == fruity {
    @include chroma-fruity;
  } @else if $theme_light_chroma == github {
    @include chroma-github;
  } @else if $theme_light_chroma == igor {
    @include chroma-igor;
  } @else if $theme_light_chroma == lovelace {
    @include chroma-lovelace;
  } @else if $theme_light_chroma == manni {
    @include chroma-manni;
  } @else if $theme_light_chroma == monokai {
    @include chroma-monokai;
  } @else if $theme_light_chroma == monokailight {
    @include chroma-monokailight;
  } @else if $theme_light_chroma == murphy {
    @include chroma-murphy;
  } @else if $theme_light_chroma == native {
    @include chroma-native;
  } @else if $theme_light_chroma == paraisodark {
    @include chroma-paraisodark;
  } @else if $theme_light_chroma == paraisolight {
    @include chroma-paraisolight;
  } @else if $theme_light_chroma == pastie {
    @include chroma-pastie;
  } @else if $theme_light_chroma == perldoc {
    @include chroma-perldoc;
  } @else if $theme_light_chroma == pygments {
    @include chroma-pygments;
  } @else if $theme_light_chroma == rainbowdash {
    @include chroma-rainbowdash;
  } @else if $theme_light_chroma == rrt {
    @include chroma-rrt;
  } @else if $theme_light_chroma == solarizeddark {
    @include chroma-solarizeddark;
  } @else if $theme_light_chroma == solarizeddark256 {
    @include chroma-solarizeddark256;
  } @else if $theme_light_chroma == solarizedlight {
    @include chroma-solarizedlight;
  } @else if $theme_light_chroma == swapoff {
    @include chroma-swapoff;
  } @else if $theme_light_chroma == tango {
    @include chroma-tango;
  } @else if $theme_light_chroma == trac {
    @include chroma-trac;
  } @else if $theme_light_chroma == vim {
    @include chroma-vim;
  } @else if $theme_light_chroma == vs {
    @include chroma-vs;
  } @else if $theme_light_chroma == xcode {
    @include chroma-xcode;
  } @else {
    @include chroma-duotonelight;
  }
}

.theme__dark {
  @if $theme_dark_chroma == default {
    @include chroma-monokai;
  } @else if $theme_dark_chroma == abap {
    @include chroma-abap;
  } @else if $theme_dark_chroma == algol {
    @include chroma-algol;
  } @else if $theme_dark_chroma == algolnu {
    @include chroma-algolnu;
  } @else if $theme_dark_chroma == api {
    @include chroma-api;
  } @else if $theme_dark_chroma == arduino {
    @include chroma-arduino;
  } @else if $theme_dark_chroma == autumn {
    @include chroma-autumn;
  } @else if $theme_dark_chroma == borland {
    @include chroma-borland;
  } @else if $theme_dark_chroma == bw {
    @include chroma-bw;
  } @else if $theme_dark_chroma == colorful {
    @include chroma-colorful;
  } @else if $theme_dark_chroma == dracula {
    @include chroma-dracula;
  } @else if $theme_dark_chroma == emacs {
    @include chroma-emacs;
  } @else if $theme_dark_chroma == friendly {
    @include chroma-friendly;
  } @else if $theme_dark_chroma == fruity {
    @include chroma-fruity;
  } @else if $theme_dark_chroma == github {
    @include chroma-github;
  } @else if $theme_dark_chroma == igor {
    @include chroma-igor;
  } @else if $theme_dark_chroma == lovelace {
    @include chroma-lovelace;
  } @else if $theme_dark_chroma == manni {
    @include chroma-manni;
  } @else if $theme_dark_chroma == monokai {
    @include chroma-monokai;
  } @else if $theme_dark_chroma == monokailight {
    @include chroma-monokailight;
  } @else if $theme_dark_chroma == murphy {
    @include chroma-murphy;
  } @else if $theme_dark_chroma == native {
    @include chroma-native;
  } @else if $theme_dark_chroma == paraisodark {
    @include chroma-paraisodark;
  } @else if $theme_dark_chroma == paraisolight {
    @include chroma-paraisolight;
  } @else if $theme_dark_chroma == pastie {
    @include chroma-pastie;
  } @else if $theme_dark_chroma == perldoc {
    @include chroma-perldoc;
  } @else if $theme_dark_chroma == pygments {
    @include chroma-pygments;
  } @else if $theme_dark_chroma == rainbowdash {
    @include chroma-rainbowdash;
  } @else if $theme_dark_chroma == rrt {
    @include chroma-rrt;
  } @else if $theme_dark_chroma == solarizeddark {
    @include chroma-solarizeddark;
  } @else if $theme_dark_chroma == solarizeddark256 {
    @include chroma-solarizeddark256;
  } @else if $theme_dark_chroma == solarizedlight {
    @include chroma-solarizedlight;
  } @else if $theme_dark_chroma == swapoff {
    @include chroma-swapoff;
  } @else if $theme_dark_chroma == tango {
    @include chroma-tango;
  } @else if $theme_dark_chroma == trac {
    @include chroma-trac;
  } @else if $theme_dark_chroma == vim {
    @include chroma-vim;
  } @else if $theme_dark_chroma == vs {
    @include chroma-vs;
  } @else if $theme_dark_chroma == xcode {
    @include chroma-xcode;
  } @else {
    @include chroma-monokai;
  }
}

.theme__hacker {
  @if $theme_hacker_chroma == default {
    @include chroma-dracula;
  } @else if $theme_hacker_chroma == abap {
    @include chroma-abap;
  } @else if $theme_hacker_chroma == algol {
    @include chroma-algol;
  } @else if $theme_hacker_chroma == algolnu {
    @include chroma-algolnu;
  } @else if $theme_hacker_chroma == api {
    @include chroma-api;
  } @else if $theme_hacker_chroma == arduino {
    @include chroma-arduino;
  } @else if $theme_hacker_chroma == autumn {
    @include chroma-autumn;
  } @else if $theme_hacker_chroma == borland {
    @include chroma-borland;
  } @else if $theme_hacker_chroma == bw {
    @include chroma-bw;
  } @else if $theme_hacker_chroma == colorful {
    @include chroma-colorful;
  } @else if $theme_hacker_chroma == dracula {
    @include chroma-dracula;
  } @else if $theme_hacker_chroma == emacs {
    @include chroma-emacs;
  } @else if $theme_hacker_chroma == friendly {
    @include chroma-friendly;
  } @else if $theme_hacker_chroma == fruity {
    @include chroma-fruity;
  } @else if $theme_hacker_chroma == github {
    @include chroma-github;
  } @else if $theme_hacker_chroma == igor {
    @include chroma-igor;
  } @else if $theme_hacker_chroma == lovelace {
    @include chroma-lovelace;
  } @else if $theme_hacker_chroma == manni {
    @include chroma-manni;
  } @else if $theme_hacker_chroma == monokai {
    @include chroma-monokai;
  } @else if $theme_hacker_chroma == monokailight {
    @include chroma-monokailight;
  } @else if $theme_hacker_chroma == murphy {
    @include chroma-murphy;
  } @else if $theme_hacker_chroma == native {
    @include chroma-native;
  } @else if $theme_hacker_chroma == paraisodark {
    @include chroma-paraisodark;
  } @else if $theme_hacker_chroma == paraisolight {
    @include chroma-paraisolight;
  } @else if $theme_hacker_chroma == pastie {
    @include chroma-pastie;
  } @else if $theme_hacker_chroma == perldoc {
    @include chroma-perldoc;
  } @else if $theme_hacker_chroma == pygments {
    @include chroma-pygments;
  } @else if $theme_hacker_chroma == rainbowdash {
    @include chroma-rainbowdash;
  } @else if $theme_hacker_chroma == rrt {
    @include chroma-rrt;
  } @else if $theme_hacker_chroma == solarizeddark {
    @include chroma-solarizeddark;
  } @else if $theme_hacker_chroma == solarizeddark256 {
    @include chroma-solarizeddark256;
  } @else if $theme_hacker_chroma == solarizedlight {
    @include chroma-solarizedlight;
  } @else if $theme_hacker_chroma == swapoff {
    @include chroma-swapoff;
  } @else if $theme_hacker_chroma == tango {
    @include chroma-tango;
  } @else if $theme_hacker_chroma == trac {
    @include chroma-trac;
  } @else if $theme_hacker_chroma == vim {
    @include chroma-vim;
  } @else if $theme_hacker_chroma == vs {
    @include chroma-vs;
  } @else if $theme_hacker_chroma == xcode {
    @include chroma-xcode;
  } @else {
    @include chroma-dracula;
  }
}

.theme__solarized {
  @if $theme_solarized_chroma == default {
    @include chroma-solarized;
  } @else if $theme_solarized_chroma == abap {
    @include chroma-abap;
  } @else if $theme_solarized_chroma == algol {
    @include chroma-algol;
  } @else if $theme_solarized_chroma == algolnu {
    @include chroma-algolnu;
  } @else if $theme_solarized_chroma == api {
    @include chroma-api;
  } @else if $theme_solarized_chroma == arduino {
    @include chroma-arduino;
  } @else if $theme_solarized_chroma == autumn {
    @include chroma-autumn;
  } @else if $theme_solarized_chroma == borland {
    @include chroma-borland;
  } @else if $theme_solarized_chroma == bw {
    @include chroma-bw;
  } @else if $theme_solarized_chroma == colorful {
    @include chroma-colorful;
  } @else if $theme_solarized_chroma == dracula {
    @include chroma-dracula;
  } @else if $theme_solarized_chroma == emacs {
    @include chroma-emacs;
  } @else if $theme_solarized_chroma == friendly {
    @include chroma-friendly;
  } @else if $theme_solarized_chroma == fruity {
    @include chroma-fruity;
  } @else if $theme_solarized_chroma == github {
    @include chroma-github;
  } @else if $theme_solarized_chroma == igor {
    @include chroma-igor;
  } @else if $theme_solarized_chroma == lovelace {
    @include chroma-lovelace;
  } @else if $theme_solarized_chroma == manni {
    @include chroma-manni;
  } @else if $theme_solarized_chroma == monokai {
    @include chroma-monokai;
  } @else if $theme_solarized_chroma == monokailight {
    @include chroma-monokailight;
  } @else if $theme_solarized_chroma == murphy {
    @include chroma-murphy;
  } @else if $theme_solarized_chroma == native {
    @include chroma-native;
  } @else if $theme_solarized_chroma == paraisodark {
    @include chroma-paraisodark;
  } @else if $theme_solarized_chroma == paraisolight {
    @include chroma-paraisolight;
  } @else if $theme_solarized_chroma == pastie {
    @include chroma-pastie;
  } @else if $theme_solarized_chroma == perldoc {
    @include chroma-perldoc;
  } @else if $theme_solarized_chroma == pygments {
    @include chroma-pygments;
  } @else if $theme_solarized_chroma == rainbowdash {
    @include chroma-rainbowdash;
  } @else if $theme_solarized_chroma == rrt {
    @include chroma-rrt;
  } @else if $theme_solarized_chroma == solarizeddark {
    @include chroma-solarizeddark;
  } @else if $theme_solarized_chroma == solarizeddark256 {
    @include chroma-solarizeddark256;
  } @else if $theme_solarized_chroma == solarizedlight {
    @include chroma-solarizedlight;
  } @else if $theme_solarized_chroma == swapoff {
    @include chroma-swapoff;
  } @else if $theme_solarized_chroma == tango {
    @include chroma-tango;
  } @else if $theme_solarized_chroma == trac {
    @include chroma-trac;
  } @else if $theme_solarized_chroma == vim {
    @include chroma-vim;
  } @else if $theme_solarized_chroma == vs {
    @include chroma-vs;
  } @else if $theme_solarized_chroma == xcode {
    @include chroma-xcode;
  } @else {
    @include chroma-solarized;
  }
}

.theme__kimbie {
  @if $theme_kimbie_chroma == default {
    @include chroma-monokailight;
  } @else if $theme_kimbie_chroma == abap {
    @include chroma-abap;
  } @else if $theme_kimbie_chroma == algol {
    @include chroma-algol;
  } @else if $theme_kimbie_chroma == algolnu {
    @include chroma-algolnu;
  } @else if $theme_kimbie_chroma == api {
    @include chroma-api;
  } @else if $theme_kimbie_chroma == arduino {
    @include chroma-arduino;
  } @else if $theme_kimbie_chroma == autumn {
    @include chroma-autumn;
  } @else if $theme_kimbie_chroma == borland {
    @include chroma-borland;
  } @else if $theme_kimbie_chroma == bw {
    @include chroma-bw;
  } @else if $theme_kimbie_chroma == colorful {
    @include chroma-colorful;
  } @else if $theme_kimbie_chroma == dracula {
    @include chroma-dracula;
  } @else if $theme_kimbie_chroma == emacs {
    @include chroma-emacs;
  } @else if $theme_kimbie_chroma == friendly {
    @include chroma-friendly;
  } @else if $theme_kimbie_chroma == fruity {
    @include chroma-fruity;
  } @else if $theme_kimbie_chroma == github {
    @include chroma-github;
  } @else if $theme_kimbie_chroma == igor {
    @include chroma-igor;
  } @else if $theme_kimbie_chroma == lovelace {
    @include chroma-lovelace;
  } @else if $theme_kimbie_chroma == manni {
    @include chroma-manni;
  } @else if $theme_kimbie_chroma == monokai {
    @include chroma-monokai;
  } @else if $theme_kimbie_chroma == monokailight {
    @include chroma-monokailight;
  } @else if $theme_kimbie_chroma == murphy {
    @include chroma-murphy;
  } @else if $theme_kimbie_chroma == native {
    @include chroma-native;
  } @else if $theme_kimbie_chroma == paraisodark {
    @include chroma-paraisodark;
  } @else if $theme_kimbie_chroma == paraisolight {
    @include chroma-paraisolight;
  } @else if $theme_kimbie_chroma == pastie {
    @include chroma-pastie;
  } @else if $theme_kimbie_chroma == perldoc {
    @include chroma-perldoc;
  } @else if $theme_kimbie_chroma == pygments {
    @include chroma-pygments;
  } @else if $theme_kimbie_chroma == rainbowdash {
    @include chroma-rainbowdash;
  } @else if $theme_kimbie_chroma == rrt {
    @include chroma-rrt;
  } @else if $theme_kimbie_chroma == solarizeddark {
    @include chroma-solarizeddark;
  } @else if $theme_kimbie_chroma == solarizeddark256 {
    @include chroma-solarizeddark256;
  } @else if $theme_kimbie_chroma == solarizedlight {
    @include chroma-solarizedlight;
  } @else if $theme_kimbie_chroma == swapoff {
    @include chroma-swapoff;
  } @else if $theme_kimbie_chroma == tango {
    @include chroma-tango;
  } @else if $theme_kimbie_chroma == trac {
    @include chroma-trac;
  } @else if $theme_kimbie_chroma == vim {
    @include chroma-vim;
  } @else if $theme_kimbie_chroma == vs {
    @include chroma-vs;
  } @else if $theme_kimbie_chroma == xcode {
    @include chroma-xcode;
  } @else {
    @include chroma-monokailight;
  }
}