@mixin chroma-vs {
  /* Background */ .chroma { background-color: #ffffff }
  /* Error */ .chroma .err {  }
  /* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
  /* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
  /* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #ffffcc }
  /* LineNumbersTable */ .chroma .lnt { padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* LineNumbers */ .chroma .ln { padding: 0 0.4em 0 0.4em;color: #7f7f7f }
  /* Keyword */ .chroma .k { color: #0000ff }
  /* KeywordConstant */ .chroma .kc { color: #0000ff }
  /* KeywordDeclaration */ .chroma .kd { color: #0000ff }
  /* KeywordNamespace */ .chroma .kn { color: #0000ff }
  /* KeywordPseudo */ .chroma .kp { color: #0000ff }
  /* KeywordReserved */ .chroma .kr { color: #0000ff }
  /* KeywordType */ .chroma .kt { color: #2b91af }
  /* NameClass */ .chroma .nc { color: #2b91af }
  /* LiteralString */ .chroma .s { color: #a31515 }
  /* LiteralStringAffix */ .chroma .sa { color: #a31515 }
  /* LiteralStringBacktick */ .chroma .sb { color: #a31515 }
  /* LiteralStringChar */ .chroma .sc { color: #a31515 }
  /* LiteralStringDelimiter */ .chroma .dl { color: #a31515 }
  /* LiteralStringDoc */ .chroma .sd { color: #a31515 }
  /* LiteralStringDouble */ .chroma .s2 { color: #a31515 }
  /* LiteralStringEscape */ .chroma .se { color: #a31515 }
  /* LiteralStringHeredoc */ .chroma .sh { color: #a31515 }
  /* LiteralStringInterpol */ .chroma .si { color: #a31515 }
  /* LiteralStringOther */ .chroma .sx { color: #a31515 }
  /* LiteralStringRegex */ .chroma .sr { color: #a31515 }
  /* LiteralStringSingle */ .chroma .s1 { color: #a31515 }
  /* LiteralStringSymbol */ .chroma .ss { color: #a31515 }
  /* OperatorWord */ .chroma .ow { color: #0000ff }
  /* Comment */ .chroma .c { color: #008000 }
  /* CommentHashbang */ .chroma .ch { color: #008000 }
  /* CommentMultiline */ .chroma .cm { color: #008000 }
  /* CommentSingle */ .chroma .c1 { color: #008000 }
  /* CommentSpecial */ .chroma .cs { color: #008000 }
  /* CommentPreproc */ .chroma .cp { color: #0000ff }
  /* CommentPreprocFile */ .chroma .cpf { color: #0000ff }
  /* GenericEmph */ .chroma .ge { font-style: italic }
  /* GenericHeading */ .chroma .gh { font-weight: bold }
  /* GenericPrompt */ .chroma .gp { font-weight: bold }
  /* GenericStrong */ .chroma .gs { font-weight: bold }
  /* GenericSubheading */ .chroma .gu { font-weight: bold }
}