{{ if .IsHome }}
<header class="header">
    {{ if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "slide") }}
        {{ partial "header/header-slide" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "img") }}
        {{ partial "header/header-img" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "text") }}
        {{ partial "header/header-text" . }}
    {{ else if and ($.Param "homeHeaderType") (eq ($.Param "homeHeaderType") "typewriter") }}
        {{ partial "header/header-typewriter" . }}
    {{ else }}
        {{ partial "header/custom-header" . }}
    {{ end }}
</header>
{{ end }}