<div class="features">
  <div class="features__title">
    Top Notch Features
  </div>
  <ul class="features__list">
    <li>
      Multiple Skins
    </li>
    <li>
      Multilingual
    </li>
    <li>
      Gallery
    </li>
    <li>
      Search
    </li>
    <li>
      Responsive
    </li>
    <li>
      Customizable
    </li>
    <li>
      Code Highlighting
    </li>
    <li>
      Diagram
    </li>
    <li>
      Math
    </li>
    <li>
      Comment
    </li>
  </ul>
</div>
