{{ define "main" }}
<header class="header basicflex-column">
  <h3 class="h3 terms__title">
    {{ .Title }}
  </h3>
</header>
<main class="main">
  <div class="contact">
      <article class="single__contents contact__desc" data-dir="{{ if ne ($.Param "languagedir") "rtl" }}ltr{{ else }}rtl{{ end }}" data-ani="{{ $.Site.Params.enableUiAnimation | default "true" }}">
        {{ .Content }}
      </article>
      {{ if eq .Params.service "formspree" }}
        {{ partial "contact/formspree" . }}
      {{ else if eq .Params.service "getform" }}
        {{ partial "contact/getform" . }}
      {{ end }}
  </div>
</main>
<div class="hide">
  {{ partial "search/site-search" . }}
</div>
{{ partial "script/contact-script" . }}
{{ end }}