{{ define "main" }}
<header class="header">
  <h3 class="h3 terms__title">
    {{ .Title }}
  </h3>
</header>
<main class="main">
  <div class="contact">
      {{ if eq .Params.service "formspree" }}
        <article class="single__contents contact__desc">
          {{ .Content }}
        </article>
        {{ partial "contact/formspree" . }}
      {{ else }}
        <article class="single__contents contact__desc">
          {{ .Content }}
        </article>
      {{ end }}
  </div>
</main>
<div class="hide">
  {{ partial "search/site-search" . }}
</div>
{{ partial "script/contact-script" . }}
{{ end }}