.not-found {
  height: 100%;
  font-family: $title-font;

  @include flexbox();
  @include align-items(center);
  @include justify-content(center);
  @include flex-direction(column);

  @include themify($themes) {
    .title {
      color: themed('title-color');
    }

    .subtitle {
      color: themed('meta-color');
    }
  }
}