.contact { 
  padding: 1rem;
  overflow-wrap: break-word;

  @include flexbox();
  @include align-items(center);
  @include flex-direction(column);

  &__input {
    height: 35px;
    font-size: 14px;
    padding: 0.25rem;
    border-radius: 0.125rem;
    border: none;

    @include themify($themes) {
      color: themed('contact-input-color');
      border: 1px solid themed('search-border-color');
      background-color: themed('contact-input-background-color');
    }

    &--wrapper {
      margin: 0.25rem;
      min-width: 0;

      @include flexbox();
      @include flex-direction(column);
      @include flex-grow(1);      
    }

    &--container {
      margin-bottom: 0.25rem;      

      @media only screen and (max-width: 769px) {
        display: block;
      }
      @include flexbox();
    }
  }

  &__message {
    padding: 0.25rem;
    min-height: 140px;
    font-size: 14px;
    border-radius: 0.125rem;
    border: none;

    @include themify($themes) {
      color: themed('contact-input-color');
      border: 1px solid themed('search-border-color');
      background-color: themed('contact-input-background-color');
    }

    &--wrapper {
      margin: 0.25rem;

      @include flexbox();
      @include flex-direction(column);
    }
  }

  &__label {
    font-family: $title-font;
    font-size: 14px;
    font-weight: bold;
    padding: 0.25rem 0;
  }

  &__desc {
    width: 65%; 
    font-family: $content-font;

    @media only screen and (max-width: 769px) {
      width: 100%;
    }
  }

  &__form {
    width: 65%;

    @include flexbox(); 
    @include flex-direction(column);
    @media only screen and (max-width: 769px) {
      width: 100%;
    }
  }

  &__send {
    height: 35px;
    margin: 0.75rem 0.25rem;
    font-family: $title-font;
    font-weight: bold;
    border: none;
    border-radius: 0.125rem;

    @include themify($themes) {
      color: inherit;
      border: 1px solid themed('search-border-color');
      background-color: themed('contact-button-background-color');
    }
  }
}