.list {
  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    font-family: $title-font;

    &--title {
      @include themify($themes) {
        color: themed('list-header-title-color');
      }
    }

    &--desc {
      font-family: $content-font;
      font-weight: italic;
      padding: 1rem;
      line-height: 1.7rem;      
    }
  }
}