.pt {
  padding: 1rem;

  &__row {
    display: flex;
    flex-wrap: wrap;
  }

  /* Create four equal columns that sits next to each other */
  &__column {
    flex: 50%;
    padding: 0 0.5rem;
  }

  &__column .pt__card {
    margin: 0.5rem 0;
    vertical-align: middle;
    background-color: blue;
  }

  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 4000px) {
    &__column {
      flex: 50%;
      max-width: 33.33%;
    }
  }

  @media screen and (max-width: 900px) {
    &__column {
      flex: 50%;
      max-width: 50%;
    }
  }

  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    &__column {
      flex: 100%;
      max-width: 100%;
    }
  }
}