$custom: (
  footer-background-color: $footer_background_color,
  footer-color: $footer_color,
  link: $link,
  link-hover: $link_hover,
  title-color: $title_color,
  meta-color: $meta_color,
  body-color: $body_color,
  hr-color: $hr_color,
  body-background-color: $body_background_color,
  backdrop-background-color: $backdrop_background_color,
  dropdown-border-color: $dropdown_border_color,
  dropdown-border-top-color: $dropdown_border_top_color,
  dropdown-item-active-background-color: $dropdown_item_active_background_color,
  dropdown-title-background-color: $dropdown_title_background_color,
  dropdown-content-background-color: $dropdown_content_background_color,
  dropdown-footer-item-color: $dropdown_footer_item_color,
  dropdown-item-hover-background-color: $dropdown_item_hover_background_color,
  dropdown-item-hover-color: $dropdown_item_hover_color,
  dropdown-item-color: $dropdown_item_color,
  navbar-border-bottom-color: $navbar_border_bottom_color,
  navbar-background-color: $navbar_background_color,
  navbar-title-color: $navbar_title_color,
  navbar-title-hover-color: $navbar_title_hover_color,
  navbar-title-active-color: $navbar_title_active_color,
  navbar-menu-hover-background-color: $navbar_menu_hover_background_color,
  navbar-dropdown-item-hover-color: $navbar_dropdown_item_hover_color,
  navbar-dropdown-item-hover-background-color: $navbar_dropdown_item_hover_background_color,
  sidebar-title-color: $sidebar_title_color,
  sidebar-li-color: $sidebar_li_color,
  taxo-title-color: $taxo_title_color,
  taxo-tags-background-color: $taxo_tags-background-color,
  taxo-tags-color: $taxo-tags-color,
  taxo-series-background-color: $taxo-series-background-color,
  taxo-series-color: $taxo-series-color,
  taxo-categories-background-color: $taxo-categories-background-color,
  taxo-categories-color: $taxo-categories-color,
  taxo-background-color-hover: $taxo-background-color-hover,
  breadcrumb-item-color: $breadcrumb-item-color,
  breadcrumb-background-color: $breadcrumb-background-color,
  breadcrumb-item-active-color: $breadcrumb-item-active-color,
  list-header-title-color: $list-header-title-color,
  figcaption-color: $figcaption-color,
  figcaption-strong-color: $figcaption-strong-color,
  single-hr-background-color: $single-hr-background-color,
  single-blockquote-border-color: $single-blockquote-border-color,
  single-header-title-color: $single-header-title-color,
  single-contents-title-color: $single-contents-title-color,
  related-header-title-color: $related-header-title-color,
  related-link-color: $related-link-color,
  content-pre-main-color: $content-pre-main-color,
  content-pre-background-color: $content-pre-background-color,
  content-code-color: $content-code-color,
  content-code-background-color: $content-code-background-color,
  burger-menu-color: $burger-menu-color,
  social-icon-color: $social-icon-color,
  social-icon-hover-color: $social-icon-hover-color,
  pagination-link-color: $pagination-link-color,
  pagination-background-color: $pagination-background-color,
  pagination-disabled-color: $pagination-disabled-color,
  pagination-number-color: $pagination-number-color,
  photoswipe-hover-color: $photoswipe-hover-color,
  photoswipe-color: $photoswipe-color,
  photoswipe-hover-background-color: $photoswipe-hover-background-color,
  photoswipe-background-color: $photoswipe-background-color,
  terms-title-color: $terms-title-color,
  terms-tags-color: $terms-tags-color,
  terms-categories-color: $terms-categories-color,
  terms-series-color: $terms-series-color,
  terms-len-color: $terms-len-color,
  toc-label-color: $toc-label-color,
  toc-title-color: $toc-title-color,
  toc-vertical-line: $toc-vertical-line,
  toc-vertical-line-active: $toc-vertical-line-active,
  search-placeholder-color: $search-placeholder-color,
  search-color: $search-color,
  search-icon-color: $search-icon-color,
  search-background-color: $search-background-color,
  search-content-background-color: $search-content-background-color,
  search-hover-background-color: $search-hover-background-color,
  mark-color: $mark-color,
  mark-background-color: $mark-background-color,
  archive-key-color: $archive-key-color,
  archive-type-color: $archive-type-color,
  archive-meta-color: $archive-meta-color,
  archive-key-background-color: $archive-key-background-color,
  archive-type-background-color: $archive-type-background-color,
  archive-hover-line-color: $archive-hover-line-color,
) !default;