$custom: (
  footer-background-color: hsl($custom_theme_primary_color, 60%, 95%),
  footer-color: hsl($custom_theme_primary_color, 100%, 10%),
  link: hsl($custom_theme_primary_color, 65%, 32%),
  link-hover: hsl($custom_theme_primary_color, 65%, 22%),
  title-color: hsl($custom_theme_primary_color, 100%, 8%),
  meta-color: hsl($custom_theme_primary_color, 40%, 40%),
  body-color: hsl($custom_theme_primary_color, 100%, 10%),
  hr-color: hsl($custom_theme_primary_color, 60%, 30%),
  body-background-color: hsl($custom_theme_primary_color, 100%, 98.5%),
  backdrop-background-color: hsl($custom_theme_primary_color, 100%, 99%),
  dropdown-border-top-color: hsl($custom_theme_primary_color, 100%, 45%),
  dropdown-item-active-background-color: hsl($custom_theme_primary_color, 100%, 90%),
  dropdown-content-background-color: hsl($custom_theme_primary_color, 100%, 98%),
  dropdown-item-hover-background-color: hsl($custom_theme_primary_color, 100%, 90%),
  dropdown-item-hover-color: hsl($custom_theme_primary_color, 100%, 35%),
  dropdown-item-color: hsl($custom_theme_primary_color, 100%, 10%),
  navbar-border-bottom-color: hsl($custom_theme_primary_color, 65%, 32%),
  navbar-background-color: hsl($custom_theme_primary_color, 60%, 86%),
  navbar-mobile-background-color: hsl($custom_theme_primary_color, 60%, 92%),
  navbar-title-color: hsl($custom_theme_primary_color, 82%, 20%),
  navbar-title-hover-color: hsl($custom_theme_primary_color, 100%, 35%),
  navbar-title-active-color: hsl($custom_theme_primary_color, 100%, 35%),
  navbar-menu-hover-background-color: hsl($custom_theme_primary_color, 100%, 90%),
  navbar-dropdown-item-hover-color: hsl($custom_theme_primary_color, 100%, 35%),
  sidebar-title-color: hsl($custom_theme_primary_color, 70%, 25%),
  sidebar-li-color: hsl($custom_theme_primary_color, 85%, 30%),
  taxo-title-color: hsl($custom_theme_primary_color, 70%, 35%),
  taxo-num-color: hsl($custom_theme_primary_color, 100%, 10%),
  taxo-num-background-color: hsl($custom_theme_primary_color, 60%, 88%),
  taxo-tags-background-color: hsl($custom_theme_primary_color, 100%, 96%),
  taxo-tags-color: hsl($custom_theme_primary_color, 100%, 10%),
  taxo-series-background-color: hsl($custom_theme_primary_color, 100%, 96%),
  taxo-series-color: hsl($custom_theme_primary_color, 100%, 10%),
  taxo-categories-background-color: hsl($custom_theme_primary_color, 100%, 96%),
  taxo-categories-color: hsl($custom_theme_primary_color, 100%, 10%),
  breadcrumb-item-color: hsl($custom_theme_primary_color, 85%, 30%),
  breadcrumb-background-color: hsl($custom_theme_primary_color, 100%, 96%),
  breadcrumb-item-active-color: hsl($custom_theme_primary_color, 15%, 25%),
  list-header-title-color: hsl($custom_theme_primary_color, 100%, 10%),
  figcaption-color: hsl($custom_theme_primary_color, 100%, 40%),
  figcaption-strong-color: hsl($custom_theme_primary_color, 100%, 25%),
  single-hr-background-color: hsl($custom_theme_primary_color, 100%, 40%),
  single-blockquote-border-color: hsl($custom_theme_primary_color, 100%, 25%),
  single-header-title-color: hsl($custom_theme_primary_color, 100%, 10%),
  single-contents-title-color: hsl($custom_theme_primary_color, 70%, 22%),
  related-header-title-color: hsl($custom_theme_primary_color, 100%, 10%),
  related-link-color: hsl($custom_theme_primary_color, 65%, 32%),
  content-pre-main-color: hsl($custom_theme_primary_color, 65%, 32%),
  content-pre-color: hsl($custom_theme_primary_color, 100%, 10%),
  content-pre-number-color: hsl($custom_theme_primary_color, 0%, 67%),
  content-pre-background-color: hsl($custom_theme_primary_color, 100%, 97%),
  content-pre-header-color: hsl($custom_theme_primary_color, 100%, 10%),
  content-pre-header-background-color: hsl($custom_theme_primary_color, 100%, 92%),
  content-pre-border-background-color: hsl($custom_theme_primary_color, 100%, 86%),
  burger-menu-color: hsl($custom_theme_primary_color, 86%, 20%),
  social-icon-color: hsl($custom_theme_primary_color, 25%, 35%),
  social-icon-hover-color: hsl($custom_theme_primary_color, 25%, 50%),
  pagination-link-color: hsl($custom_theme_primary_color, 65%, 32%),
  pagination-background-color: hsl($custom_theme_primary_color, 60%, 90%),
  pagination-disabled-color: hsl($custom_theme_primary_color, 25%, 75%),
  pagination-number-color: hsl($custom_theme_primary_color, 100%, 40%),
  terms-title-color: hsl($custom_theme_primary_color, 25%, 60%),
  terms-tags-color: hsl($custom_theme_primary_color, 100%, 30%),
  terms-categories-color: hsl($custom_theme_primary_color, 100%, 30%),
  terms-series-color: hsl($custom_theme_primary_color, 100%, 30%),
  terms-len-color: hsl($custom_theme_primary_color, 100%, 12%),
  toc-label-color: hsl($custom_theme_primary_color, 100%, 10%),
  toc-title-color: hsl($custom_theme_primary_color, 10%, 60%),
  toc-vertical-line: hsl($custom_theme_primary_color, 65%, 85%),
  toc-vertical-line-active: hsl($custom_theme_primary_color, 65%, 35%),
  search-placeholder-color: hsl($custom_theme_primary_color, 65%, 65%),
  search-color: hsl($custom_theme_primary_color, 100%, 10%),
  search-icon-color: hsl($custom_theme_primary_color, 65%, 80%),
  search-border-color: hsl($custom_theme_primary_color, 65%, 65%),
  search-content-color: hsl($custom_theme_primary_color, 100%, 10%),
  search-background-color: hsl($custom_theme_primary_color, 100%, 96%),
  search-content-background-color: hsl($custom_theme_primary_color, 100%, 99%),
  search-hover-background-color: hsl($custom_theme_primary_color, 100%, 95%),
  selection-color: hsl($custom_theme_primary_color, 65%, 95%),
  selection-background-color: hsl($custom_theme_primary_color, 65%, 32%),
  archive-key-color: hsl($custom_theme_primary_color, 100%, 92%),
  archive-type-color: hsl($custom_theme_primary_color, 60%, 20%),
  archive-meta-color: hsl($custom_theme_primary_color, 80%, 40%),
  archive-key-background-color: hsl($custom_theme_primary_color, 100%, 12%),
  archive-type-background-color: hsl($custom_theme_primary_color, 100%, 95%),
  archive-hover-line-color: hsl($custom_theme_primary_color, 65%, 32%),
  gtt-color: hsl($custom_theme_primary_color, 60%, 25%),
  gtt-background-color: hsl($custom_theme_primary_color, 60%, 95%),
  gtt-hover-color: hsl($custom_theme_primary_color, 60%, 60%),
  gtt-hover-background-color: hsl($custom_theme_primary_color, 60%, 95%),
  switch-background-color: hsl($custom_theme_primary_color, 80%, 80%),
  switch-button-color: hsl($custom_theme_primary_color, 100%, 95%),
  switch-active-color: hsl($custom_theme_primary_color, 80%, 60%),
  gallery-mask-color: hsl($custom_theme_primary_color, 100%, 10%),
  gallery-mask-background-color: hsla($custom_theme_primary_color, 100%, 90%, 0.7),
  contact-input-color: hsl($custom_theme_primary_color, 100%, 28.5%),
  contact-input-background-color: hsl($custom_theme_primary_color, 100%, 94.5%),
  contact-button-background-color: hsl($custom_theme_primary_color, 100%, 94.5%),
) !default;