$custom: (
  footer-background-color: $footer_background_color,
  footer-color: $footer_color,
  link: $link,
  link-hover: $link_hover,
  title-color: $title_color,
  meta-color: $meta_color,
  body-color: $body_color,
  hr-color: $hr_color,
  body-background-color: $body_background_color,
  backdrop-background-color: $backdrop_background_color,
  dropdown-border-color: $dropdown_border_color,
  dropdown-border-top-color: $dropdown_border_top_color,
  dropdown-item-active-background-color: $dropdown_item_active_background_color,
  dropdown-title-background-color: $dropdown_title_background_color,
  dropdown-content-background-color: $dropdown_content_background_color,
  dropdown-footer-item-color: $dropdown_footer_item_color,
  dropdown-item-hover-background-color: $dropdown_item_hover_background_color,
  dropdown-item-hover-color: $dropdown_item_hover_color,
  dropdown-item-color: $dropdown_item_color,
  navbar-border-bottom-color: $navbar_border_bottom_color,
  navbar-background-color: $navbar_background_color,
  navbar-title-color: $navbar_title_color,
  navbar-title-hover-color: $navbar_title_hover_color,
  navbar-title-active-color: $navbar_title_active_color,
  navbar-menu-hover-background-color: $navbar_menu_hover_background_color,
  navbar-dropdown-item-hover-color: $navbar_dropdown_item_hover_color,
  navbar-dropdown-item-hover-background-color: $navbar_dropdown_item_hover_background_color,
  sidebar-title-color: $sidebar_title_color,
  sidebar-li-color: $sidebar_li_color,
  taxo-title-color: $taxo_title_color,
  taxo-tags-background-color: $taxo_tags_background_color,
  taxo-tags-color: $taxo_tags_color,
  taxo-series-background-color: $taxo_series_background_color,
  taxo-series-color: $taxo_series_color,
  taxo-categories-background-color: $taxo_categories_background_color,
  taxo-categories-color: $taxo_categories_color,
  taxo-background-color-hover: $taxo_background_color_hover,
  breadcrumb-item-color: $breadcrumb_item_color,
  breadcrumb-background-color: $breadcrumb_background_color,
  breadcrumb-item-active-color: $breadcrumb_item_active_color,
  list-header-title-color: $list_header_title_color,
  figcaption-color: $figcaption_color,
  figcaption-strong-color: $figcaption_strong_color,
  single-hr-background-color: $single_hr_background_color,
  single-blockquote-border-color: $single_blockquote_border_color,
  single-header-title-color: $single_header_title_color,
  single-contents-title-color: $single_contents_title_color,
  related-header-title-color: $related_header_title_color,
  related-link-color: $related_link_color,
  content-pre-main-color: $content_pre_main_color,
  content-pre-background-color: $content_pre_background_color,
  content-code-color: $content_code_color,
  content-code-background-color: $content_code_background_color,
  burger-menu-color: $burger_menu_color,
  social-icon-color: $social_icon_color,
  social-icon-hover-color: $social_icon_hover_color,
  pagination-link-color: $pagination_link_color,
  pagination-background-color: $pagination_background_color,
  pagination-disabled-color: $pagination_disabled_color,
  pagination-number-color: $pagination_number_color,
  photoswipe-hover-color: $photoswipe_hover_color,
  photoswipe-color: $photoswipe_color,
  photoswipe-hover-background-color: $photoswipe_hover_background_color,
  photoswipe-background-color: $photoswipe_background_color,
  terms-title-color: $terms_title_color,
  terms-tags-color: $terms_tags_color,
  terms-categories-color: $terms_categories_color,
  terms-series-color: $terms_series_color,
  terms-len-color: $terms_len_color,
  toc-label-color: $toc_label_color,
  toc-title-color: $toc_title_color,
  toc-vertical-line: $toc_vertical_line,
  toc-vertical-line-active: $toc_vertical_line_active,
  search-placeholder-color: $search_placeholder_color,
  search-color: $search_color,
  search-icon-color: $search_icon_color,
  search-background-color: $search_background_color,
  search-content-background-color: $search_content_background_color,
  search-hover-background-color: $search_hover_background_color,
  mark-color: $mark_color,
  mark-background-color: $mark_background_color,
  archive-key-color: $archive_key_color,
  archive-type-color: $archive_type_color,
  archive-meta-color: $archive_meta_color,
  archive-key-background-color: $archive_key_background_color,
  archive-type-background-color: $archive_type_background_color,
  archive-hover-line-color: $archive_hover_line_color,
  gtt-color: $gtt_color,
  gtt-background-color: $gtt_background_color,
  gtt-hover-color: $gtt_hover_color,
  gtt-hover-background-color: $gtt_hover_background_color,
  whoami-border-color: $whoami_border_color,
) !default;