$dark: (
    footer-background-color: #403E41,
    footer-color: #bdbdbd, 
    link: #FFD866,
    link-hover: #FF6188,
    title-color: #ffd866,
    meta-color: #FCFCFA,
    body-color: #FCFCFA,
    hr-color: #595B5C,
    body-background-color: #2D2A2E,
    backdrop-background-color: #212121,
    dropdown-border-color: #212121,
    dropdown-border-top-color: #424242,
    dropdown-item-active-background-color: #424242,
    dropdown-title-background-color: #2D2A2E,
    dropdown-content-background-color: #595B5C,
    dropdown-footer-item-color: #bdbdbd,
    dropdown-item-hover-background-color: #727072,
    dropdown-item-hover-color: #FCFCFA,
    dropdown-item-color: #FCFCFA,    
    navbar-border-bottom-color: #2D2A2E,
    navbar-background-color: #403E41,
    navbar-title-color: #FCFCFA,
    navbar-title-hover-color: #FFD866,
    navbar-title-active-color: #FF6188,
    navbar-menu-hover-background-color: lighten(#403E41, 5%),
    navbar-dropdown-item-hover-color: #FFD866,
    navbar-dropdown-item-hover-background-color: #595B5C,
    sidebar-title-color: #aed581,
    sidebar-li-color: #FCFCFA,
    taxo-title-color: #bdbdbd,
    taxo-tags-background-color: #212121,
    taxo-tags-color: #78DCE8,
    taxo-series-background-color: #212121,
    taxo-series-color: #EA9C77,
    taxo-categories-background-color: #212121,
    taxo-categories-color: #AB9DF2,
    taxo-background-color-hover: darken(#212121, 5%),
    breadcrumb-item-color: #82aaff,
    breadcrumb-background-color: #212121,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #FCFCFA,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #FCFCFA,
    single-hr-background-color: #595B5C,
    single-blockquote-border-color: #FCFCFA,
    single-header-title-color: #FCFCFA,
    single-contents-title-color: #aed581,
    related-header-title-color: #FCFCFA,
    related-link-color: #A9DC76,
    content-pre-main-color: #FFA7C4,
    content-pre-background-color: #011627,
    content-code-color: #FCFCFA,
    content-code-background-color: #595B5C,
    burger-menu-color: #FCFCFA,
    social-icon-color: #bdbdbd,
    social-icon-hover-color: lighten(#bdbdbd, 20%),
    pagination-link-color: #82aaff,
    pagination-background-color: #212121,
    pagination-disabled-color: #757575,
    pagination-number-color: #FCFCFA,
    photoswipe-hover-color: #FCFCFA,
    photoswipe-color: #FCFCFA,
    photoswipe-hover-background-color: #727072,
    photoswipe-background-color: #403E41,
    terms-title-color: #727072,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #90a4ae,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    search-placeholder-color: #727072,
    search-color: #FCFCFA,
    search-icon-color: #727072,
    search-content-color: inherit,
    search-background-color: #212121,
    search-content-background-color: #595B5C,
    search-hover-background-color: #727072,
    mark-color: #FCFCFA,
    mark-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-type-color: #FCFCFA,
    archive-meta-color: #aed581,
    archive-key-background-color: #FF6188,
    archive-type-background-color: #82aaff,
    archive-hover-line-color: #FF6188,
    gtt-color: #bdbdbd,
    gtt-background-color: #403E41,
    gtt-hover-color: #82aaff,
    gtt-hover-background-color: lighten(#403E41, 5%),
    whoami-border-color: #90a4ae,
    switch-background-color: #403E41,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
);