$gruv: (
    footer-background-color: #282828,
    footer-color: #98971a,
    link: #83a598,
    link-hover: #83a598,
    title-color: #e2d6b8,
    meta-color: #928374,
    body-color: #bdae93,
    hr-color: #928374,
    body-background-color: #282828,
    backdrop-background-color: #1d2021,
    dropdown-border-top-color: #928374,
    dropdown-item-active-background-color: lighten(#151715, 12%),
    dropdown-content-background-color: lighten(#151715, 5%),
    dropdown-item-hover-background-color: lighten(#151715, 20%),
    dropdown-item-hover-color: #ebdbb2,
    dropdown-item-color: #928374,
    navbar-border-bottom-color: #504945,
    navbar-background-color: #252526,
    navbar-mobile-background-color: #323232,
    navbar-title-color: #9fc391,
    navbar-title-hover-color: #b8bb26,
    navbar-title-active-color: #b8bb26,
    navbar-menu-hover-background-color: lighten(#00e600, 20%),
    navbar-dropdown-item-hover-color: #E08C48,
    sidebar-title-color: #8ec07c,
    sidebar-li-color: #d5c4a1,
    taxo-title-color: #8ec07c,
    taxo-num-color: #458588,
    taxo-num-background-color: #252526,
    taxo-tags-background-color: lighten(#151715, 9%),
    taxo-tags-color: #d79921,
    taxo-series-background-color: lighten(#151715, 9%),
    taxo-series-color: #d79921,
    taxo-categories-background-color: lighten(#151715, 9%),
    taxo-categories-color: #b16286,
    breadcrumb-item-color: #bdae93,
    breadcrumb-background-color: #252526,
    breadcrumb-item-active-color: #fbf1c7,
    list-header-title-color: #689d6a,
    figcaption-color: #1FFF2A,
    figcaption-strong-color: #FCFCFA,
    single-hr-background-color: #504945,
    single-blockquote-border-color: #b16286,
    single-header-title-color: #d4ccb6,
    single-contents-title-color: #d3d388,
    single-contents-subtitle-color: #d3d399,
    related-header-title-color: #bdae93,
    related-link-color: #83a598,
    content-box-border-color: #6B6B6B,
    content-box-background-color: #252526,
    burger-menu-color: #dbdbdb,
    social-icon-color: #a89984,
    social-icon-hover-color: lighten(#a89984, 20%),
    pagination-link-color: #996287,
    pagination-background-color: #252526,
    pagination-disabled-color: #424242,
    pagination-number-color: #FCFCFA,
    terms-title-color: #a7a83f,
    terms-title-shadow-color: #242425,
    terms-tags-color: #78DCE8,
    terms-categories-color: #AB9DF2,
    terms-series-color: #EA9C77,
    terms-len-color: #E08C48,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #d3869b,
    toc-header-background-color: lighten(#151715, 7%),
    toc-header-background-color-hover: lighten(#151715, 5%),
    toc-body-background-color: lighten(#151715, 3%),
    search-placeholder-color: #727072,
    search-color: #83a598,
    search-icon-color: #727072,
    search-border-color: #504945,
    search-border-outline-color: rgba(161, 173, 100, 0.2),
    search-border-active-color: #414141,
    search-background-color: #252526,
    search-content-color: #ebdbb2, //TODO: from this
    search-content-background-color: #252526,
    search-hover-background-color: lighten(#252526, 14%),
    search-highlight-color: #d3869b,
    selection-color: #FCFCFA,
    selection-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-type-color: #FCFCFA,
    archive-meta-color: #E3CD26,
    archive-key-background-color: #E08C48,
    archive-type-background-color: #855E78,
    archive-hover-line-color: #FF6188,
    gtt-color: #9e9e9e,
    gtt-background-color: #252526,
    gtt-hover-color: #E3CD26,
    gtt-hover-background-color: lighten(#252526, 5%),
    switch-background-color: #403E41,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
    gallery-mask-color: #FCFCFA,
    gallery-mask-background-color: rgba(0, 0, 0, 0.7),
    contact-input-color: #FCFCFA,
    contact-input-background-color: lighten(#252526, 4%),
    contact-button-background-color: lighten(#252526, 4%),
    custom-scrollbar-foreground-color: #616161,
    custom-scrollbar-background-color: #FCFCFA,
    share-color: #dbdbdb,
    share-shadow-color: #888,
    share-background-color: #383b4c,
    donation-background-color: #43454d,
    button-primary-color: $button_gruv_primary_color,
);