$primary-color: #1FFF2A;
$secondary-color: #C7BA00;

$hacker: (
    footer-background-color: #252526,
    footer-color: $secondary-color,
    link: $primary-color,
    link-hover: #FF6188,
    title-color: #A1AD64,
    meta-color: #CDF5CC,
    body-color: $primary-color,
    hr-color: $secondary-color,
    body-background-color: #151715,
    backdrop-background-color: #111,
    dropdown-border-color: #7B4D94,
    dropdown-border-top-color: #6B6B6B,
    dropdown-item-active-background-color: lighten(#151715, 12%),
    dropdown-title-background-color: #151715,
    dropdown-content-background-color: lighten(#151715, 5%),
    dropdown-footer-item-color: $primary-color,
    dropdown-item-hover-background-color: lighten(#151715, 20%),
    dropdown-item-hover-color: #FCFCFA,
    dropdown-item-color: #FCFCFA,
    navbar-border-bottom-color: #252526,
    navbar-background-color: #252526,
    navbar-title-color: #E3CD26,
    navbar-title-hover-color: $primary-color,
    navbar-title-active-color: #f3ff6e,
    navbar-menu-hover-background-color: lighten(#151715, 20%),
    navbar-dropdown-item-hover-color: $primary-color,
    navbar-dropdown-item-hover-background-color: lighten(#151715, 12%),
    sidebar-title-color: #E3CD26,
    sidebar-li-color: $primary-color,
    taxo-title-color: #996287,
    taxo-tags-background-color: lighten(#151715, 10%),
    taxo-tags-color: $primary-color,
    taxo-series-background-color: lighten(#151715, 10%),
    taxo-series-color: $primary-color,
    taxo-categories-background-color: lighten(#151715, 10%),
    taxo-categories-color: $primary-color,
    taxo-background-color-hover: lighten(#151715, 20%),
    breadcrumb-item-color: #E08C48,
    breadcrumb-background-color: #252526,
    breadcrumb-item-active-color: #6B6B6B,
    list-header-title-color: #A1AD64,
    figcaption-color: $primary-color,
    figcaption-strong-color: #FCFCFA,
    single-hr-background-color: #E08C48,
    single-blockquote-border-color: #E08C48,
    single-header-title-color: #FCFCFA,
    single-contents-title-color: #A1AD64,
    related-header-title-color: #FCFCFA,
    related-link-color: $secondary-color,
    content-pre-main-color: $primary-color,
    content-pre-background-color: #202420,
    content-code-color: #f3ff6e,
    content-code-background-color: lighten(#151715, 25%),
    burger-menu-color: $primary-color,
    social-icon-color: #9e9e9e,
    social-icon-hover-color: darken(#9e9e9e, 20%),
    pagination-link-color: #996287,
    pagination-background-color: #252526,
    pagination-disabled-color: #424242,
    pagination-number-color: #FCFCFA,
    photoswipe-hover-color: #FCFCFA,
    photoswipe-color: #FCFCFA,
    photoswipe-hover-background-color: #727072,
    photoswipe-background-color: #403E41,
    terms-title-color: $secondary-color,
    terms-tags-color: $primary-color,
    terms-categories-color: $primary-color,
    terms-series-color: $primary-color,
    terms-len-color: #E08C48,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    search-placeholder-color: #727072,
    search-color: $primary-color,
    search-icon-color: #727072,
    search-background-color: #252526,
    search-content-color: $primary-color,
    search-content-background-color: lighten(#252526, 7%),
    search-hover-background-color: lighten(#252526, 14%),
    mark-color: #FCFCFA,
    mark-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-type-color: #FCFCFA,
    archive-meta-color: #E3CD26,
    archive-key-background-color: #E08C48,
    archive-type-background-color: #855E78,
    archive-hover-line-color: #FF6188,
    gtt-color: #9e9e9e,
    gtt-background-color: #252526,
    gtt-hover-color: #E3CD26,
    gtt-hover-background-color: lighten(#252526, 5%),
    whoami-border-color: #996287,
    switch-background-color: #403E41,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
);