$hackercode: '';

@if $theme_hacker_chroma_background == dark {
  $hackercode: (
    content-code-color: #fcfcfa,
    content-pre-main-color: #FFA7C4,
    content-pre-color: #eee,
    content-pre-number-color: #666,
    content-pre-background-color: #171f2e,
    content-pre-header-background-color: darken(#011627, 1.5%),
    content-pre-border-background-color: #3a3a3a,
    content-pre-header-color: #FCFCFA,
  );
} @else if $theme_hacker_chroma_background == light {
  $hackercode: (
    content-code-color: #827d70,
    content-pre-main-color: #607d8b,
    content-pre-color: #344952,
    content-pre-number-color: #aaa,
    content-pre-background-color: #F5F2F0,
    content-pre-border-background-color: darken(#F5F2F0, 7%),
    content-pre-header-background-color: darken(#F5F2F0, 3%),
    content-pre-header-color: #344952,
  );
} @else if $theme_hacker_chroma_background == hacker {
  $hackercode: (
    content-code-color: #1fff2a,
    content-pre-main-color: #1FFF2A,
    content-pre-color: #d1d1d1,
    content-pre-number-color: #666,
    content-pre-background-color: #282a36,
    content-pre-border-background-color: #f3ff6e,
    content-pre-header-background-color: darken(#202420, 1.5%),
    content-pre-header-color: #f3ff6e,
  );
} @else if $theme_hacker_chroma_background == solarized {
  $hackercode: (
    content-code-color: #424242,
    content-pre-main-color: #B58900,
    content-pre-color: #344952,
    content-pre-number-color: #aaa,
    content-pre-background-color: #faf1cd,
    content-pre-border-background-color: darken(#FBF1D1, 12%),
    content-pre-header-background-color: darken(#FBF1D1, 6%),
    content-pre-header-color: #344952,
  );
} @else if $theme_hacker_chroma_background == custom {
  $hackercode: (
    content-code-color: #002633,
    content-pre-main-color: hsl($custom_theme_primary_color, 65%, 32%),
    content-pre-color: hsl($custom_theme_primary_color, 100%, 10%),
    content-pre-number-color: hsl($custom_theme_primary_color, 0%, 67%),
    content-pre-background-color: hsl($custom_theme_primary_color, 100%, 97%),
    content-pre-header-color: hsl($custom_theme_primary_color, 100%, 10%),
    content-pre-header-background-color: hsl($custom_theme_primary_color, 100%, 92%),
    content-pre-border-background-color: hsl($custom_theme_primary_color, 100%, 86%),
  );
} @else {
  $hackercode: (
    content-code-color: #1fff2a,
    content-pre-main-color: #1FFF2A,
    content-pre-color: #d1d1d1,
    content-pre-number-color: #666,
    content-pre-background-color: #282a36,
    content-pre-border-background-color: #f3ff6e,
    content-pre-header-background-color: darken(#202420, 1.5%),
    content-pre-header-color: #f3ff6e,
  );
}