$light: (
    footer-background-color: #eeeeee,
    footer-color: #424242,  
    link: #607d8b,
    link-hover: #FF6188,
    title-color: #607d8b,
    meta-color: #424242,
    body-color: #424242,
    hr-color: #ccc,
    body-background-color: #fafafa,
    backdrop-background-color: #e0e0e0,
    dropdown-border-top-color: #e0e0e0,    
    dropdown-item-active-background-color: #e0e0e0,
    dropdown-content-background-color: #fafafa,
    dropdown-item-hover-background-color: #bdbdbd,
    dropdown-item-hover-color: #FCFCFA,
    dropdown-item-color: #555,    
    navbar-border-bottom-color: #e0e0e0,
    navbar-background-color: #eaeaea,
    navbar-mobile-background-color: #f1f1f1,
    navbar-title-color: #555,
    navbar-title-hover-color: #607d8b,
    navbar-title-active-color: #FF6188,
    navbar-menu-hover-background-color: lighten(#eeeeee, 3%),
    navbar-dropdown-item-hover-color: #607d8b,
    sidebar-title-color: #424242,
    sidebar-li-color: #424242,
    taxo-title-color: #607d8b,
    taxo-num-color: #424242,
    taxo-num-background-color: #eaeaea,
    taxo-tags-background-color: darken(#e0f7fa, 3%),
    taxo-tags-color: #424242,
    taxo-series-background-color: darken(#fff3e0, 3%),
    taxo-series-color: #424242,
    taxo-categories-background-color: darken(#ede7f6, 3%),
    taxo-categories-color: #424242,
    breadcrumb-item-color: #424242,
    breadcrumb-background-color: #eeeeee,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #424242,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #424242,
    single-hr-background-color: #bdbdbd,
    single-blockquote-border-color: #bdbdbd,
    single-header-title-color: #424242,
    single-contents-title-color: #607d8b,
    related-header-title-color: #424242,
    related-link-color: #607d8b,   
    content-pre-main-color: #607d8b,
    content-pre-color: #344952,
    content-pre-number-color: #aaa,
    content-pre-background-color: #F5F2F0,
    content-pre-border-background-color: darken(#F5F2F0, 7%),
    content-pre-header-background-color: darken(#F5F2F0, 3%),
    content-pre-header-color: #344952,
    burger-menu-color: #777,
    social-icon-color: #777,
    social-icon-hover-color: darken(#777, 20%),
    pagination-link-color: #424242,
    pagination-background-color: #eeeeee,
    pagination-disabled-color: #bdbdbd,
    pagination-number-color: #757575,
    terms-title-color: #9e9e9e,
    terms-tags-color: #424242,
    terms-categories-color: #424242,
    terms-series-color: #424242,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    search-placeholder-color: #bdbdbd,
    search-color: #424242,
    search-icon-color: #bdbdbd,
    search-border-color: darken(#eee, 12%),
    search-background-color: #eeeeee,
    search-content-color: #424242,
    search-content-background-color: #eeeeee,
    search-hover-background-color: darken(#eeeeee, 10%),
    selection-color: #FCFCFA,
    selection-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-meta-color: #424242,
    archive-type-color: darken(#bdbdbd, 40%),
    archive-key-background-color: #607d8b,
    archive-type-background-color: #bdbdbd,
    archive-hover-line-color: #FF6188,
    gtt-color: #424242,
    gtt-background-color: #eeeeee,
    gtt-hover-color: #607d8b,
    gtt-hover-background-color: darken(#eeeeee, 10%),
    switch-background-color: #bdbdbd,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
    gallery-mask-color: #424242,
    gallery-mask-background-color: rgba(255, 255, 255, 0.7),
    contact-input-color: #424242,
    contact-input-background-color: #eee,
    contact-button-background-color: #eee,
);