$light: (
    footer-background-color: #eeeeee,
    footer-color: #424242,  
    link: #607d8b,
    link-hover: #FF6188,
    title-color: #607d8b,
    meta-color: #424242,
    body-color: #424242,
    hr-color: #dbdbdb,
    body-background-color: #fafafa,
    backdrop-background-color: #e0e0e0,
    dropdown-border-color: #bdbdbd,
    dropdown-border-top-color: #e0e0e0,    
    dropdown-item-active-background-color: #e0e0e0,
    dropdown-title-background-color: #fafafa,
    dropdown-content-background-color: #fafafa,
    dropdown-footer-item-color: #424242,
    dropdown-item-hover-background-color: #bdbdbd,
    dropdown-item-hover-color: #FCFCFA,
    dropdown-item-color: #424242,    
    navbar-border-bottom-color: #e0e0e0,
    navbar-background-color: #eeeeee,
    navbar-title-color: #424242,
    navbar-title-hover-color: #607d8b,
    navbar-title-active-color: #FF6188,
    navbar-menu-hover-background-color: darken(#eeeeee, 5%),
    navbar-dropdown-item-hover-color: #607d8b,
    navbar-dropdown-item-hover-background-color: #bdbdbd,
    sidebar-title-color: #424242,
    sidebar-li-color: #424242,
    taxo-title-color: #607d8b,
    taxo-tags-background-color: #eeeeee,
    taxo-tags-color: #424242,
    taxo-series-background-color: #eeeeee,
    taxo-series-color: #424242,
    taxo-categories-background-color: #eeeeee,
    taxo-categories-color: #424242,
    taxo-background-color-hover: darken(#eeeeee, 5%),
    breadcrumb-item-color: #424242,
    breadcrumb-background-color: #eeeeee,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #424242,
    figcaption-color: #bdbdbd,
    figcaption-strong-color: #424242,
    single-hr-background-color: #bdbdbd,
    single-blockquote-border-color: #bdbdbd,
    single-header-title-color: #424242,
    single-contents-title-color: #607d8b,
    related-header-title-color: #424242,
    related-link-color: #607d8b,   
    content-pre-main-color: #607d8b,
    content-pre-background-color: #F5F2F0,
    content-code-color: #212121,
    content-code-background-color: #F5F2F0,
    burger-menu-color: #9e9e9e,
    social-icon-color: #9e9e9e,
    social-icon-hover-color: darken(#9e9e9e, 20%),
    pagination-link-color: #424242,
    pagination-background-color: #eeeeee,
    pagination-disabled-color: #bdbdbd,
    pagination-number-color: #757575,
    photoswipe-hover-color: #FCFCFA,
    photoswipe-color: #FCFCFA,
    photoswipe-hover-background-color: #727072,
    photoswipe-background-color: #403E41,
    terms-title-color: #9e9e9e,
    terms-tags-color: #424242,
    terms-categories-color: #424242,
    terms-series-color: #424242,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    search-placeholder-color: #bdbdbd,
    search-color: #424242,
    search-icon-color: #bdbdbd,
    search-background-color: #eeeeee,
    search-content-color: #424242,
    search-content-background-color: #eeeeee,
    search-hover-background-color: darken(#eeeeee, 10%),
    mark-color: #FCFCFA,
    mark-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-meta-color: #424242,
    archive-type-color: darken(#bdbdbd, 40%),
    archive-key-background-color: #607d8b,
    archive-type-background-color: #bdbdbd,
    archive-hover-line-color: #FF6188,
    gtt-color: #424242,
    gtt-background-color: #eeeeee,
    gtt-hover-color: #607d8b,
    gtt-hover-background-color: darken(#eeeeee, 10%),
    whoami-border-color: #607d8b,
    switch-background-color: #bdbdbd,
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
);