$primary-color: #B58900;
$secondary-color: #ffb300;

$solarized: (
    footer-background-color: #EEE8D5,
    footer-color: #424242,
    link: $primary-color,
    link-hover: #FF6188,
    title-color: $primary-color,
    meta-color: lighten($primary-color, 5%),
    body-color: #424242,
    hr-color: $primary-color,
    body-background-color: #FDF7E3,
    backdrop-background-color: #DDD6C7,
    dropdown-border-color: $primary-color,
    dropdown-border-top-color: lighten($primary-color, 10%),
    dropdown-item-active-background-color: #FBF1D1,
    dropdown-title-background-color: #fafafa,
    dropdown-content-background-color: #fafafa,
    dropdown-footer-item-color: #424242,
    dropdown-item-hover-background-color: darken(#FBF1D1, 5%),
    dropdown-item-hover-color: $primary-color,
    dropdown-item-color: #424242,    
    navbar-border-bottom-color: $primary-color,
    navbar-background-color: #EEE8D5,
    navbar-title-color: #424242,
    navbar-title-hover-color: $primary-color,
    navbar-title-active-color: $primary-color,
    navbar-menu-hover-background-color: darken(#FBF1D1, 5%),
    navbar-dropdown-item-hover-color: $primary-color,
    navbar-dropdown-item-hover-background-color: #bdbdbd,
    sidebar-title-color: $secondary-color,
    sidebar-li-color: #424242,
    taxo-title-color: $primary-color,
    taxo-tags-background-color: #FBF1D1,
    taxo-tags-color: $primary-color,
    taxo-series-background-color: #FBF1D1,
    taxo-series-color: $primary-color,
    taxo-categories-background-color: #FBF1D1,
    taxo-categories-color: $primary-color,
    taxo-background-color-hover: darken(#FBF1D1, 5%),
    breadcrumb-item-color: #424242,
    breadcrumb-background-color: #FBF1D1,
    breadcrumb-item-active-color: #bdbdbd,
    list-header-title-color: #424242,
    figcaption-color: $secondary-color,
    figcaption-strong-color: $primary-color,
    single-hr-background-color: #bdbdbd,
    single-blockquote-border-color: #bdbdbd,
    single-header-title-color: #424242,
    single-contents-title-color: $primary-color,
    related-header-title-color: #424242,
    related-link-color: $secondary-color,   
    content-pre-main-color: $primary-color,
    content-pre-background-color: #FBF1D1,
    content-code-color: #424242,
    content-code-background-color: #FBF1D1,
    burger-menu-color: $primary-color,
    social-icon-color: #9e9e9e,
    social-icon-hover-color: darken(#9e9e9e, 20%),
    pagination-link-color: #455a64,
    pagination-background-color: #FBF1D1,
    pagination-disabled-color: #bdbdbd,
    pagination-number-color: #455a64,
    photoswipe-hover-color: #FCFCFA,
    photoswipe-color: #FCFCFA,
    photoswipe-hover-background-color: #727072,
    photoswipe-background-color: #403E41,
    terms-title-color: lighten($primary-color, 7%),
    terms-tags-color: $secondary-color,
    terms-categories-color: $primary-color,
    terms-series-color: $primary-color,
    terms-len-color: #727072,
    toc-label-color: #727072,
    toc-title-color: #727072,
    toc-vertical-line: #727072,
    toc-vertical-line-active: #FF6188,
    search-placeholder-color: $primary-color,
    search-color: $primary-color,
    search-icon-color: $primary-color,
    search-background-color: #FBF1D1,
    search-content-color: $primary-color,
    search-content-background-color: #FBF1D1,
    search-hover-background-color: darken(#FBF1D1, 10%),
    mark-color: #FCFCFA,
    mark-background-color: #FF6188,
    archive-key-color: #FCFCFA,
    archive-meta-color: #455a64,
    archive-type-color: darken($secondary-color, 20%),
    archive-key-background-color: $primary-color,
    archive-type-background-color: $secondary-color,
    archive-hover-line-color: #FF6188,
    gtt-color: $secondary-color,
    gtt-background-color: #EEE8D5,
    gtt-hover-color: $primary-color,
    gtt-hover-background-color: darken(#EEE8D5, 5%),
    whoami-border-color: $primary-color,
    switch-background-color: darken(#EEE8D5, 10%),
    switch-button-color: #FCFCFA,
    switch-active-color: #FF6188,
);